<!-- views/home.ejs -->
<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>National Disinfection Services</title>
      <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-auto-a11y="true"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
      <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.3.2/dist/email.min.js"></script>
      <script type="text/javascript">
        (function(){
            emailjs.init("user_WCUaGovaPvmupDP7F7eTm");
        })();
      </script>
  </head>
  <body class="container-fluid">
          <div class="row jumbo">
              <div class="col-lg-1">
              </div>
              <div class="col-lg-2">
                <img src="/images/logo_black.svg" /> 
                <h3>The Disinfection Cleaning Specialists</h3>
              </div>
              <div class="col-lg-3">
              </div>
              <div class="col-lg-3">
              </div>
              <div class="col-lg-2">
                  <div class="jumboInner">
                    <h4>Call Us Today 1-855-872-8624</h4>
                    <ul>
                      <a href="/" <li><i class="fab fa-facebook"></i></li> </a>
                      <a href="/" <li><i class="fab fa-instagram"></i></li> </a>
                      <a href="/" <li><i class="fab fa-twitter-square"></i></li> </a>
                      <a href="/" <li><i class="fab fa-facebook"></i></li> </a>
                    </ul>
                  </div>
              </div>
              <div class="col-lg-1">
              </div>
          </div>
    <ul class="nav nav-tabs row">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="/services" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
          <div class="dropdown-menu animate slideIn">
            <a class="dropdown-item" href="/disinfection">Disinfection Services</a>
            <a class="dropdown-item" href="/covid">Coronaviruses & COVID-19 Disinfection Services</a>
            <a class="dropdown-item" href="/virus">Virus Disinfection Services</a>
            <a class="dropdown-item" href="/bacteria">Bacteria Disinfection Services</a>
            <a class="dropdown-item" href="/mrsa">MRSA Disinfection Services</a>
            <a class="dropdown-item" href="/cdiff">C. diff Disinfection Services</a>
            <a class="dropdown-item" href="/hepatitis">Hepatitis Disinfection Services</a>
            <a class="dropdown-item" href="/norovirus">Norovirus Disinfection Services</a>
            <a class="dropdown-item" href="/listeria">Listeria Disinfection Services</a>
            <a class="dropdown-item" href="/histoplasmosis">Histoplasmosis Disinfection Services</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="/industries" role="button" aria-haspopup="true" aria-expanded="false">Industries</a>
          <div class="dropdown-menu animate slideIn">
            <a class="dropdown-item" href="/commercial">Commercial</a>
            <a class="dropdown-item" href="/institutional">Institutional</a>
            <a class="dropdown-item" href="/residential">Residential</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="/company" role="button" aria-haspopup="true" aria-expanded="false">Company</a>
          <div class="dropdown-menu animate slideIn">
            <a class="dropdown-item" href="/about">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="/help" role="button" aria-haspopup="true" aria-expanded="false">Helpful Information</a>
          <div class="dropdown-menu animate slideIn">
            <a class="dropdown-item" href="/virusesOrBacteria">Viruses or Bacteria</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="/resources" role="button" aria-haspopup="true" aria-expanded="false">Coronaviruses & COVID-19 Resources</a>
          <div class="dropdown-menu animate slideIn">
            <a class="dropdown-item" href="/covid">Coronaviruses Disinfection Services</a>
            <a class="dropdown-item" href="/response">CDC Response to Coronavirus </a>
            <a class="dropdown-item" href="/video">CDC Coronavirus COVID-19 Videos</a>
            <a class="dropdown-item" href="/global">Coronavirus COVID-19 Global Tracker</a>
            <a class="dropdown-item" href="/info">Coronavirus COVID-19 Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>



