<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/about.css" type="text/css">


<div class="row">
    <div class="col-lg-12 text-center">
        <h2>ABOUT US</h2>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
      <h3>Ensuring Your Health & Well-being</h3>

      <p>As an essential and frontline business, we compassionately understand that these challenging
      times has affected us all. We felt compelled to provide a service that is both affordable and
      effective, and that helps to ensure your health and well-being.</p>

     <p>National Disinfection Services (NDS) is a full-service disinfection, sterilization and eradication
      company, specializing in the residential, commercial and industrial markets. The team at NDS
      has substantial training and experience. We use advanced techniques, equipment, and
      methodology to provide the most effective disinfection process. Our disinfectant products are
      CDC approved and EPA- registered chemicals, engineered to combat 99.5 % of all viruses
      including Coronavirus. NDS is a leading expert in the disinfection of viruses, bacteria and other
      infectious diseases. We provide emergency service throughout New York and Connecticut 24
      hours a day, 7 days a week.</p>
      
      <p><b>Strict Standards</b></p>
      <p>NDS, adheres to strict guidelines and procedures from the Centers for Disease Control (CDC)
      and Department of Health and Human Services (HHS) and the Environmental Protection Agency
      (EPA).</p>
      
      <p><b>Our Staff is Fully Trained</b></p>
      <p>Every member of the NDA team receives ongoing product and application training. The team
      always wears (PPE) Hooded 3M Tyvek suits, booties, goggles, gloves and N95 masks.</p>
      
      <p><b>Advanced Tools & Equipment</b></p>
      <p>We utilize the newest tools and most advanced equipment available. Such as state of the art
      fogging machines, electrostatic sprayers, negative air machines and the Ensuretouch by
      Hygenia ATP (Adenosine triphosphate) which is test to measure the effectiveness of the
      eradication.</p>
      <p><b>We Are Here to Help</b></p>
      <p>We are available to answer any questions that you may have, Please call us today for a FREE,
      no-obligation estimate.</p>
      <p><b>Free Estimates</b></p>
      <p>National Disinfection Services will provide you with a FREE no-obligation estimate.  We are fully
      insured.</p>  
      <p><b>Emergency Response Service</b></p>
      <p>We are available 24/7 Please call us anytime. We are here to help!</p>
    </div>
    <div class="col-lg-2">
    </div>
  </div>

  <div class="row indexIndustries">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-3">
      <a href="/residential"> <img class="residential" src="/images/residential.jpg" /> </a>
      <form action="/residential">
        <button type="submit">
          <a href="/residential">Learn More</a>
        </button>
      </form>
      <ul>Residential
        <li>New Homeowner</li>
        <li>Existing Homeowner</li>
        <li>New Renter</li>
        <li>Existing Renter</li>
      </ul>
    </div>
    <div class="col-lg-4">
      <a href="/commercial"> <img src="/images/commercial.jpg" /> </a>
      <form action="/commercial">
        <button type="submit">
          <a href="/commercial">Learn More</a>
        </button>
      </form> 
      <ul>Commercial
        <li>Office</li>
        <li>Retail</li>
        <li>Gyms</li>
        <li>Theaters</li>
        <li>Truck Fleets</li>
        <li>Medical Offices</li>
      </ul>
    </div>
    <div class="col-lg-3">
      <a href="/institutional"> <img src="/images/institutional.jpg" /> </a>
      <form action="/institutional">
        <button type="submit">
          <a href="/institutional">Learn More</a>
        </button>
      </form> 
      <ul>Institutional
        <li>Schools</li>
        <li>Universities</li>
        <li>Religious Organizations</li>
        <li>Recreational Facilities</li>
        <li>Sports Facilities</li>
        <li>Government Facilities</li>
      </ul>
    </div>
    <div class="col-lg-1">
    </div>
  </div>

<%- include('partials/footer') %>


