<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/covid.css" type="text/css">


<div class="row services">
    <div class="col-lg-2">
    </div>

    <div class="col-lg-8">
        <h3>Commercial “Certification of Disinfection” Program</h3>
        <hr>
        <p>Ensuring the Health & Well-Being of your employees and occupants</p>


        <img class="industryBanner" src="/images/commercial.jpg" /> 

        <p>NDS’s Institutional “Certification of Disinfection” program comes with the “Clean Building Certified” seal
        of approval attesting to the property being 99.9% free and clear of any disease -carrying pathogens,
        including (but not limited to) COVID-19. This new treatment program is designed to ensure the health
        and well-being of the employees and its occupants.</p>

        <p>Now more than ever, the marketplace needs to err on the side of caution. The NDS Certification
        program provides the ideal solution for a world struggling with the COVID-19 pandemic. NDS has
        designed the program to be an affordable and effective precautionary measure.</p>

        <p>National Disinfection Services (NDS) is a full-service disinfection, sterilization, and eradication company,
        specializing in the residential, commercial, and institutional markets. The team at NDS has substantial
        training and experience. We use advanced techniques, equipment, and methodology to provide the
        most effective disinfection process.</p>

        <p>NDS is an exclusive and authorized applicator of all Steriltex products. The disinfectant products are
        hospital grade, CDC, and EPA- Registered and N Listed approved cleaners and disinfectants. Products are
        engineered to combat 99.5 % of all viruses, bacteria, and pathogens including SARS-CoV -2, the cause of
        COVID -19. NDS adheres to strict guidelines and procedures from the Centers for Disease Control (CDC)
        and Department of Health and Human Services (HHS) and the Environmental Protection Agency (EPA).
        (Our technicians will be wearing approved EPA PPE while preforming the treatment) Products are safe
        and leave no harmful residue.</p>
        
        <ul><b>NDS Process Flow</b>
            <li>Call or email us regarding scheduling a time to perform a site visit</li>
            <li>Receive & review NDS Scope of work/ agreement</li> 
            <li>Sign the NDS agreement & pay invoice (all major Credit cards accepted)</li>
            <li>Schedule service date</li>
            <li>5 Step treatment service preformed</li>
            <li>Receive the “Certificate of Disinfection”</li>
        </ul>
        <ul><b>NDS Treatment Process</b>
        <li>Our multi-man team, including an area Manager or Supervisor will arrive at your location.</li>

        <li>Step 1 - We do an advanced ATP (Adenosine triphosphate) test, using Ensuretouch by Hygenia, this is a 
        effective method that’s used to quickly determined the sanitation of various high touch surfaces. ATP is 
        an indicator of biological residue that can be easily detected to measure cleanliness because effective 
        because cleaning and sanitization removes all ATP from surfaces enabling rapid detection of microbial residue.</li>

        <li>Step 2 - Introduce a Negative air machine with Hepa Filter used in Hospitals to purify air to eradicate 
            aerosolized particles down to 3 microns. </li>
        <li>Step 3 - Ultra Low Volume (ULV) fogging machine/ Electrostatic Spray application of EPA registered and CDC 
            approved Hospital Grade disinfectant. Positively Charged ions are produced within chemical which adhere to 
            surfaces in treated areas. This ensures total coverage of the treated area for wiping and disruption of Biofilm.</li>
        <li>Step 4 - After a 12-minute dwell time surface wiping of High touch areas begin. Fixtures , Keyboards, phones, 
            door handles, and other critical contact areas are hand wiped.</li>  
        <li>Step 5 - We will perform a post disinfection ATP test to measure elimination of pathogens.</li>
        </ul>
        <img src="/images/business_cert.jpg" /> 
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="row standards">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
        <p>
        <b>At National Disinfection Services we want to provide you with the most current information about the 
        Coronavirus COVID-19 pandemic.</b> Please visit each of our resource pages on Coronaviruses & COVID-19 
        located at our top menu bar for more information and continuous updates.  To see live tracking of 
        coronavirus cases click Coronavirus COVID-19 Global Tracker Live Updates, for the CDC’s updates visit 
        CDC Response to Coronavirus COVID-19, for videos about coronavirus, including symptoms & how to protect 
        yourself, please go to our page – CDC Coronavirus COVID-19 Helpful Videos – where you can watch these 
        informative videos, and for New York State specific coronavirus updates please go to New York State 
        Coronavirus COVID-19 Information Page.</p>
        
        <p>For a detailed description of each of the Disinfection Services we offer, please refer to our Services 
        pages, which are listed in the top menu on this page. For additional information concerning viruses, 
        bacteria, and infectious diseases, including the coronavirus COVID-19, as well as the symptoms and 
        transmission, please view our Helpful Information page and our page on  Virus or Bacteria.
        </p>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="row footnote">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-3">
            <img src="/images/thumbs.jpg" /> 
            <p>We Are Leading Experts in Disinfection</p>
            <form action="/contact">
                <button type="submit">
                  <a href="/contact">Book Now</a>
                </button>
              </form> 
    </div>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-5">
        <h3>We Follow Strict Standards</h3>
        <hr>
        <p>At National Disinfection Services we want to provide you with the most current
            information about the Coronavirus COVID-19 pandemic.  Please visit each of our
            resource pages on Coronaviruses & COVID-19 located at our top menu bar for more
            information and continuous updates.  To see live tracking of coronavirus cases
            click Coronavirus COVID-19 Global Tracker Live Updates, for the CDC’s updates visit CDC
            Response to Coronavirus COVID-19, for videos about coronavirus, including symptoms &
            how to protect yourself, please go to our page – CDC Coronavirus COVID-19 Helpful
            Videos – where you can watch these informative videos, and for New York State specific
            coronavirus updates please go to New York State Coronavirus COVID-19 Information Page.
            For a detailed description of each of the Disinfection Services we offer, please refer to
            our Services pages, which are listed in the top menu on this page. For additional
            information concerning viruses, bacteria, and infectious diseases, including the coronavirus
            COVID-19, as well as the symptoms and transmission, please view our Helpful
            Information page and our page on  Virus or Bacteria.</p>
        <h3>Call National Disinfection Services Today</h3>
        <hr>
        <p>National Disinfection Services specializes in the disinfection of germs, viruses, bacteria, superbugs, 
            MRSA, Coronaviruses, Listeria, Hepatitis, Norovirus, Histoplasmosis, C-Diff and other viruses, 
            bacteria and infectious diseases. We are experts in all forms of disinfection and serve the New York
             and Connecticut areas Long Island, New York, New Jersey and Connecticut. We provide complete emergency 
             disinfection remediation and cleaning services for New York, Long Island, Nassau, Suffolk, Brooklyn, 
             Queens, Bronx, Staten Island, Westchester, New Jersey and Connecticut 24 hours a day, 7 days a week. If 
             you are in need of disinfection services, please call us today. We understand the challenges facing our 
             customers when they contact us, and we will do our utmost to assist you every step of the way. We will 
             perform a No-Obligation inspection and provide you with a detailed estimate of the work to be performed. 
             We will assist you in negotiating with your insurance carrier. National Disinfection Services is a fully 
             insured corporation and all of our technicians are trained in CDS and EPA guidelines and procedures. and 
             certified. National Disinfection Services is here to help.
            Call National Disinfection Services Today.</p>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<%- include('partials/footer') %>