<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/company.css" type="text/css">

<div class="row">
    <div class="col-lg-12 text-center">
        <h2>THE COMPANY. OUR CORE VALUES. OUR BELIEFS.</h2>
        <hr>
        <img src="/images/thumbs.jpg" data-aos="fade-up" data-aos-duration="3000" /> 
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-2">
        <h3>Our Mission</h3>
        <p>National Disinfection Services is the leading expert in the disinfection of viruses, bacteria and other infectious 
            diseases. We provide emergency service throughout the nation 24 hours a day, 
            7 days a week.</p>
        <h3>Free Estimates</h3>
        <p>National Disinfection Services will provide you with a FREE no-obligation estimate.  We are fully insured.  Call us today.</p>
        <h3>Our Staff is Fully Trained</h3>
        <p>Every member of the National Disinfection Services team receives hands-on training and OSHA certification.</p>
    </div>
    <div class="col-lg-2">
        <h3>We Have The Tools & Equipment</h3>
        <p>We have the newest tools and most advanced equipment available.</p>
        <h3>Years of Experience and A+ Rated</h3>
        <p>We have many years of experience in disinfection as well as the highest rating & reviews.</p>
        <h3>Emergency Response Service</h3>
        <p>We are available 24/7.</p>
    </div>
    <div class="col-lg-2">
        <h3>Strict Standards</h3>
        <p>National Disinfection Services is specialized in the disinfection, cleaning and remediation of viruses, 
        bacteria and infectious diseases. We follow strict standards, and all members of our team are fully trained and certified.</p>
        <h3>Great Support</h3>
        <p>We’re available 7 days a week.  Please call us anytime.  We are here to help!</p>
        <h3>We Are Here to Help</h3>
        <p>We are available to answer any questions that you may have, and we can provide bereavement support information. 
            Please call us today for a FREE, no-obligation estimate.
        </p>
    </div>
    <div class="col-lg-3">
        
    </div>
</div>

<%- include('partials/footer') %>