<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/contact.css" type="text/css">
<div class="row email">
    <div class="col-lg-6 text-center">
        <h2>Contact</h2>
        <hr>
        <form>
            <div class="emailBox">
              <label for="emailAddress">Your e-mail address</label><br>
              <input id="emailAddress" type="email" size="64" maxLength="64" required placeholder="nds@gmail.com" pattern=".+@beststartupever.com" title="Please provide a valid Emai address">
            </div>
           
            <div class="messageBox">
              <label for="message">Request</label><br>
              <textarea id="message" cols="80" rows="8" required
                        placeholder="Questions or comments:"></textarea>
            </div>
             <input type="submit" value="Send Request">
        </form>
    </div>
    <div class="col-lg-6 text-center">
        <h2>Other Ways To Contact Us</h2>
        <h4>Phone: 1-833-6591</h4>
        <h4>Email: tedfisher66@gmail.com</h4>
        <hr>
    </div>
</div>

<%- include('partials/footer') %>


