<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/contact.css" type="text/css">
<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8 text-center">
        <img src=`https://maps.googleapis.com/maps/api/staticmap?center=Berkeley,CA&zoom=14&size=400x400&key=${GOOGLE_API}` /> 
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-5" data-aos="fade-up" data-aos-duration="3000">
        <form id="myform" method="post">
            <div class="form-group">
                <label>Subject</label>
                <input type="text" name="subject" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Subject">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Name</label>
                <input type="text" name="name" class="form-control" id="exampleInputPassword1" placeholder="name">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Email</label>
                <input type="text" name="email" class="form-control" id="exampleInputPassword1" placeholder="email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Message</label>
                <textarea type="text" name="message" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
  <div class="col-lg-2" data-aos="fade-up" data-aos-duration="3000">
    <h3>Other ways to contact us</h3>
    <hr>
    <h4>Please call us 1-833-6591</h4>
    <hr>
    <p><b>Address</b></p>
    <p>800 Westchester Avenue</p>
    <p>Suite 641</p>
    <p>North Rye Brook, NY 10573</p>
    <p><b>Email Contact</b></p>
    <p>info@nationaldisinfection.com</p>
    <p><b>Opening Hours:</b></p>
    <p>24/7</p>
  </div>
  <div class="col-lg-3">
  </div>
</div>

<%- include('partials/footer') %>


