<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/covid.css" type="text/css">
<div class="row services">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-2">
        <ul>
            <li><a href="/disinfection">Disinfection Services</a></li>
            <li><a href="/covid">Coronaviruses & COVID-19 Disinfection Services</a></li>
            <li><a href="/virus">Virus Disinfection Services</a></li>
            <li><a href="/bacteria">Bacteria Disinfection Services</a></li>
            <li><a href="/mrsa">MRSA Disinfection Services</a></li>
            <li><a href="/cdiff">C. diff Disinfection Services</a></li>
            <li><a href="/hepatitis">Hepatitis Disinfection Services</a></li>
            <li><a href="/norovirus">Norovirus Disinfection Services</a></li>
            <li><a href="/listeria">Listeria Disinfection Services</a></li>
            <li><a href="/histoplasmosis">Histoplasmosis Disinfection Services</a></li>
        </ul>
    </div>
    <div class="col-lg-1">

    </div>
    <div class="col-lg-6">
        <h3>CORONAVIRUSES & COVID-19 DISINFECTION SERVICES</h3>
        <hr>
        <p>National Disinfection Services is a leading expert in the disinfection of coronaviruses. We provide emergency service throughout the nation, 24 hours a day, 7 days a week.</p>
        
        <p>Coronavirus COVID-19 is an emerging, rapidly evolving situation and we will provide updated information as quickly as possible.</p>
        
        <p>Coronaviruses (CoV) are a large family of viruses that cause illness ranging from the common cold to more severe diseases such as Middle East Respiratory Syndrome (MERS-CoV); and Severe Acute Respiratory Syndrome (SARS-CoV). A novel coronavirus (nCoV) is a new strain that has not been previously identified in humans. The virus has been named “SARS-CoV-2” and the disease it causes has been named “coronavirus disease 2019” (abbreviated “COVID-19”).</p>
        
        <p>Genealogy:
        Covid-19 (SARS-CoV-2 based virus) is an RNA based enveloped virus. Enveloped viruses contain a lipid membrane on the cell wall which adheres to the host cell in order to proliferate. This being the case, the cell wall is easily penetrable to most common disinfectants. Common EPA approved disinfectant makeup can be Quaternary Ammonium Compounds, Phenolic Based products and some Hydrogen Peroxide based formulas.</p>
        
        <p>Transmission of COVID-19:
        Coronavirus is most commonly transmitted from person to person, through droplet nuclei spread out from breathing, coughing or sneezing. Droplets can remain suspended in the air for extended periods and are highly respirable. It can also be spread through contact on surfaces. The virus can remain viable on surfaces from several hours up to 9 days depending on ambient conditions, amount of moisture in droplets, etc.  The virus is believed to be most contagious in a person when their symptoms are evident. However, it’s possible that they may be contagious before and after visible signs of symptoms. People who no longer test positive for the virus may still be infectious according to some of the research. Information on the transmission of the Coronavirus COVID-19 is being updated as doctors learn more about the virus and how it spreads. We will continue to provide the most up to date information as quickly as possible.</p>
        <p>Symptoms of COVID-19:
        For confirmed coronavirus disease 2019 (COVID-19) cases, reported illnesses have ranged from mild symptoms to severe illness and death. </p>
        <ul>Symptoms can include:
            <li>Fever</li>
            <li>Cough</li>
            <li>Shortness of breath</li>
        </ul>
        <p>The CDC believes at this time that symptoms of COVID-19 may appear in as few as 2 days or as long as 14 days after exposure. This is based on what has been seen previously as the incubation period of MERS-CoV viruses.</p>

            <ul>Eradication Method:
                <li>Step 1: Ultra Low Volume (ULV) misting or electrostatic spray of certain affected areas with EPA approved hospital grade disinfectant. This mist will eradicate any aerosolized particles allowing for a safer entry of decontamination personnel. Misting is calculated on cubic footage of the affected area.</li>
                <li>Step 2: Electrostatic spray application of EPA Approved Hospital Grade disinfectant. Positively charged ions are produced within the chemical which adhere to surfaces in the affected area. This ensures total coverage of the affected area for wiping and disruption of any biofilm.</li>
                <li>Step 3: After a 10 minute dwell time surface wiping of critical contact areas begins. Fixtures, keyboards, phones, door handles, certain contents within the affected area are hand wiped. A 10 minute dwell time should be allowed post wipe down by any cleaning service following.</li>
                <li>Step 4: Client should contact their regular cleaning company to address and clean any residual disinfectant.</li>
            </ul>

            <p>Personal Protective Equipment PPE:
            Technicians are required to don full Level “C” personal protective equipment during the decontamination of contaminated zone procedure in areas where cases have been confirmed. Splash resistant coveralls, shoe covers, double gloves, full face Air Purifying Respirator (APR) or Powered Air Purifying Respirator (PAPR). Coveralls should be decontaminated with electrostatic spray prior to doffing and disposal. Level “D” PPE is sufficient in unaffected/pre-emptive disinfection projects & for final surface wipe of contaminated zone areas.</p>

            <p>The CDC advises that the following precautions are taken to lessen the risk of contracting COVID-19:</p>
            <p>Prevention:</p>

            <ul>There is currently no vaccine to prevent coronavirus disease 2019 (COVID-19). The best way to prevent illness is to avoid being exposed to this virus. However, as a reminder, CDC always recommends everyday preventive actions to help prevent the spread of respiratory diseases, including:

                <li>Avoid close contact with people who are sick.</li>
                <li>Avoid touching your eyes, nose, and mouth.</li>
                <li>Stay home when you are sick.</li>
                <li>Cover your cough or sneeze with a tissue, then throw the tissue in the trash.</li>
                <li>Clean and disinfect frequently touched objects and surfaces using a regular household cleaning spray or wipe.</li>
                <li>Follow CDC’s recommendations for using a facemask.</li>
                <li>CDC does not recommend that people who are well wear a facemask to protect themselves from respiratory diseases, including COVID-19.</li>
                <li>Facemasks should be used by people who show symptoms of COVID-19 to help prevent the spread of the disease to others. The use of facemasks is also crucial for health workers and people who are taking care of someone in close settings (at home or in a health care facility).</li>
                <li>Wash your hands often with soap and water for at least 20 seconds, especially after going to the bathroom; before eating; and after blowing your nose, coughing, or sneezing.</li>
                <li>If soap and water are not readily available, use an alcohol-based hand sanitizer with at least 60% alcohol. Always wash hands with soap and water if hands are visibly dirty.</li>
            </ul>
            <p>At National Disinfection Services we want to provide you with the most current information about the Coronavirus COVID-19 pandemic.  
                Please visit each of our resource pages on Coronaviruses & COVID-19 located at our top menu bar for more information and continuous 
                updates.  To see live tracking of coronavirus cases click Coronavirus COVID-19 Global Tracker Live Updates, for the CDC’s updates visit
                 CDC Response to Coronavirus COVID-19, for videos about coronavirus, including symptoms & how to protect yourself, please go to our page 
                 – CDC Coronavirus COVID-19 Helpful Videos – where you can watch these informative videos, and for National State specific coronavirus
                updates please go to National State Coronavirus COVID-19 Information Page.</p>

            <p>For a detailed description of each of the Disinfection Services we offer, please refer to our Services pages, which are listed in 
                the top menu on this page. For additional information concerning viruses, bacteria, and infectious diseases, including the coronavirus 
                COVID-19, as well as the symptoms and transmission, please view our Helpful Information page and our page on  Virus or Bacteria.
            </p>

            <p>For our Water, Mold, Fire & Smoke Restoration and Remediation Services, please visit itsenvironmentalservices.com for information 
                on our additional Restoration Services. If you have any questions, please contact us anytime. We are here to help.
            </p>
    </div>
    <div class="col-lg-1">
    </div>
</div>
<div class="row standards">
    <div class="col-lg-5"></div>
    <div class="col-lg-5">
        <h3>We Follow Strict Standards</h3>
        <hr>
        <p>The cleaning and disinfection of germs, viruses, bacteria, superbugs and any infectious disease should be performed by experienced and 
        trained professionals. New York Disinfection Services has a team of highly trained and experienced technicians that understand the risks 
        involved in the cleanup and disinfection of infectious germs, viruses and bacteria such as MRSA, Listeria, Hepatitis A, B & C, HIV, 
        Norovirus, Coronavirus (including COVID-19), Histoplasmosis and other infectious diseases. We have the proper equipment, PPE, 
        disinfectants and training to safely and effectively clean and disinfect areas affected by viral and bacterial contamination. We can provide 
        expert cleaning and disinfection methods in homes, office buildings, any type of transportation vehicle, gymnasiums, schools, medical building 
        and any affected area and environment. Please call us today for a free no-obligation estimate. We will perform a thorough inspection of the 
        affected area, answer any questions and provide a detailed cleaning and disinfection protocol. We are available 24/7. Call National Disinfection Services 
        today at 833-817-6591. We are here to help.</p>
        <h3>Call New York Disinfection Services Today</h3>
        <hr>
        <div>
        <img src="/images/thumbs.jpg" /> 
        <p>We Are Leading Experts in Disinfection</p>
        </div>
        <p>National Disinfection Services specializes in the disinfection of germs, viruses, bacteria, superbugs, MRSA, Coronaviruses, Listeria, Hepatitis, Norovirus, Histoplasmosis, C-Diff and other viruses, bacteria and infectious diseases. We are experts in all forms of disinfection and serve Long Island, New York, New Jersey and Connecticut. We provide complete emergency disinfection remediation and cleaning services for New York, Long Island, Nassau, Suffolk, Brooklyn, Queens, Bronx, Staten Island, Westchester, New Jersey and Connecticut 24 hours a day, 7 days a week. If you are in need of disinfection services, please call us today. We understand the challenges facing our customers when they contact us, and we will do our utmost to assist you every step of the way. We will perform a No-Obligation inspection and provide you with a detailed estimate of the work to be performed. We will assist you in negotiating with your insurance carrier. New York Disinfection Services is a fully insured corporation and all of our technicians are trained and certified. New York Disinfection Services is here to help.</p>
        <h4>Call National Disinfection Services Today</h4>
       
    </div>
    </div>
    <div class="col-lg-2">
    </div>

</div>
<%- include('partials/footer') %>