<form id="myform" method="post">
    <div class="form-row">
        <div class="form-group col-md-2">
        </div>
        <div class="form-group col-md-5">
                <h3>Get In Touch</h3>
            <label for="inputEmail4">Name</label>
            <input type="text" name="name" class="form-control" id="inputEmail4" placeholder="name">

            <label for="inputAddress">Email</label>
            <input type="text" name="email" class="form-control" id="inputAddress" placeholder="email">

            <label for="inputAddress">Phone</label>
            <input type="text" name="phone" class="form-control" id="inputAddress" placeholder="phone">

            <label for="inputAddress">Extension</label>
            <input type="text" name="extension"class="form-control" id="inputAddress" placeholder="extension">

            <label for="inputAddress">Address</label>
            <input type="text" name="address" class="form-control" id="inputAddress" placeholder="address">

            <label for="inputCity">City</label>
            <input type="text" name="city" class="form-control" id="inputCity" placeholder="city">


            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>Texas</option>
                <option>New York</option>
                <option>Texas</option>
                <option>Texas</option>
                <option>Texas</option>
                <option>Texas</option>
                <option>Texas</option>
                <option>Texas</option>
            </select>

            <label for="inputZip">Zip</label>
            <input type="text" name="zip" class="form-control" id="inputZip" placeholder="zip">

            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="form-group col-md-1">
        </div>
        <div class="form-group col-md-2">
            <h3>Other ways to contact us</h3>
            <hr>
            <h4>Please call us 1-833-6591</h4>
            <hr>
            <p><b>Address</b></p>
            <p>800 Westchester Avenue</p>
            <p>Suite 641</p>
            <p>North Rye Brook, NY 10573</p>
            <p><b>Email Contact</b></p>
            <p>info@nationaldisinfection.com</p>
            <p><b>Opening Hours:</b></p>
            <p>24/7</p>
        </div>
        <div class="form-group col-md-2">
        </div>
    </div>
  </form>