<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/covid.css" type="text/css">
<div class="row services">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-2">
        <ul>
            <li><a href="/disinfection">Disinfection Services</a></li>
            <li><a href="/covid">Coronaviruses & COVID-19 Disinfection Services</a></li>
            <li><a href="/virus">Virus Disinfection Services</a></li>
            <li><a href="/bacteria">Bacteria Disinfection Services</a></li>
            <li><a href="/mrsa">MRSA Disinfection Services</a></li>
            <li><a href="/cdiff">C. diff Disinfection Services</a></li>
            <li><a href="/hepatitis">Hepatitis Disinfection Services</a></li>
            <li><a href="/norovirus">Norovirus Disinfection Services</a></li>
            <li><a href="/listeria">Listeria Disinfection Services</a></li>
            <li><a href="/histoplasmosis">Histoplasmosis Disinfection Services</a></li>
        </ul>
    </div>
    <div class="col-lg-1">

    </div>
    <div class="col-lg-6">
        <h3>CORONAVIRUS COVID-19 GLOBAL TRACKER LIVE UPDATES</h3>
        <hr>
        <p>At National Disinfection Services we want to provide you with the most current information about the Coronavirus COVID-19 pandemic. 
        Below are two up-to-date trackers that are continuously providing the number of Coronavirus Cases occurring globally around the world:</p>
        
        <iframe width="650" height="400" frameborder="0" scrolling="no" 
        marginheight="0" marginwidth="0" title="2019-nCoV" 
        src="//arcgis.com/apps/Embed/index.html?webmap=14aa9e5660cf42b5b4b546dec6ceec7c&extent=77.3846,11.535,163.5174,52.8632&zoom=true&previewImage=false&scale=true&disable_scroll=true&theme=light"
        ></iframe>

        <p>At National Disinfection Services we want to provide you with the most current information about the Coronavirus COVID-19 pandemic.  
        Please visit each of our resource pages on Coronaviruses & COVID-19 located at our top menu bar for more information and continuous updates. 
        To see live tracking of coronavirus cases click Coronavirus COVID-19 Global Tracker Live Updates, for the CDC’s updates visit CDC Response to 
        Coronavirus COVID-19, for videos about coronavirus, including symptoms & how to protect yourself, please go to our page – CDC Coronavirus COVID-19 
        Helpful Videos – where you can watch these informative videos, and for National State specific coronavirus updates please go to National State 
        Coronavirus COVID-19 Information Page.</p>

        <p>For a detailed description of each of the Disinfection Services we offer, please refer to our Services pages, which are listed in the top menu on 
        this page. For additional information concerning viruses, bacteria, and infectious diseases, including the coronavirus COVID-19, as well as the 
        symptoms and transmission, please view our Helpful Information page and our page on  Virus or Bacteria.</p>

        <h3>Call National Disinfection Services Today</h3>
        <p>National Disinfection Services is a fully insured corporation, and all of our technicians are highly trained, experienced and certified. Serving 
        all of National, New Jersey, Connecticut and Long Island, National Disinfection Services provides specialized disinfection remediation 
        cleaning services. Call us today, we are here to help <a href="tel:833-817-6591">833-817-6591</a>.</p>
    </div>
    <div class="col-lg-1">
    </div>
</div>
<%- include('partials/footer') %>



