<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/covid.css" type="text/css">
<div class="row services">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-2">
        <ul>
            <li><a href="/disinfection">Disinfection Services</a></li>
            <li><a href="/covid">Coronaviruses & COVID-19 Disinfection Services</a></li>
            <li><a href="/virus">Virus Disinfection Services</a></li>
            <li><a href="/bacteria">Bacteria Disinfection Services</a></li>
            <li><a href="/mrsa">MRSA Disinfection Services</a></li>
            <li><a href="/cdiff">C. diff Disinfection Services</a></li>
            <li><a href="/hepatitis">Hepatitis Disinfection Services</a></li>
            <li><a href="/norovirus">Norovirus Disinfection Services</a></li>
            <li><a href="/listeria">Listeria Disinfection Services</a></li>
            <li><a href="/histoplasmosis">Histoplasmosis Disinfection Services</a></li>
        </ul>
    </div>
    <div class="col-lg-1">

    </div>
    <div class="col-lg-6">
        <h3>HELPFUL INFORMATION</h3>
        <hr>
        <p>Below is information concerning common viruses, bacteria and diseases as well as the symptoms and transmission.</p>
        
        <p>A virus is a small infectious organism—much smaller than a fungus or bacterium—that must invade a living cell to reproduce (replicate). 
        The virus attaches to a cell (called the host cell), enters it, and releases its DNA or RNA inside the cell. The virus’s DNA or RNA is the 
        genetic material containing the information needed to make copies of (replicate) the virus. The virus’s genetic material takes control of 
        the cell and forces it to replicate the virus. The infected cell usually dies because the virus keeps it from performing its normal functions. 
        When it dies, the cell releases new viruses, which go on to infect other cells.</p>
        
        <p>Bacteria are microscopic, single-celled organisms. There are thousands of different kinds, and they live in every conceivable environment 
        all over the world. They live in soil, seawater, and deep within the earth’s crust. Some bacteria have been reported even to live in 
        radioactive waste. Many bacteria live in the bodies of people and animals—on the skin and in the airways, mouth, and digestive, reproductive, 
        and urinary tracts—without causing any harm. Such bacteria are called resident flora, or the microbiome. Many resident flora are actually 
        helpful to people—for example by helping them digest food or by preventing the growth of other, more dangerous bacteria. Only a few kinds 
        of bacteria cause disease. They are called pathogens. Sometimes bacteria that normally reside harmlessly in the body cause disease. 
        Bacteria can cause disease by producing harmful substances (toxins), invading tissues, or doing both.</p>
        
        <p>MRSA is methicillin-resistant Staphylococcus aureus, a type of staph bacteria that is resistant to several antibiotics. In the general 
        community, MRSA most often causes skin infections.In some cases, it causes pneumonia (lung infection) and other issues.If left untreated, 
        MRSA infections can become severe and cause sepsis-a life-threatening reaction to severe infection in the body.</p>
        
        <p>C-diff – Clostridium difficileis shed in feces. Any surface, device, or material (e.g., toilets, bathing tubs, and electronic rectal 
        thermometers) that becomes contaminated with feces may serve as a reservoir for the Clostridium difficilespores. Clostridium 
        difficilespores are transferred to patients mainly via the hands of healthcare personnel who have touched a contaminated surface or item.</p>
        
        <p>Listeria – Listeriosis is usually acquired through foodborne transmission, except for fetal and neonatal infection, which is usually 
        acquired in utero. Cutaneous infections have been reported very rarely among veterinarians and farmers following direct animal contact, 
        particularly involving livestock products of conception.</p>
        
        <p>Hepatitis – Hepatitis means inflammation of the liver. When the liver is inflamed or damaged, its function can be affected. Heavy alcohol 
        use, toxins, some medications, and certain medical conditions can cause hepatitis but a virus often causes hepatitis.  What is the 
        difference between hepatitis A, hepatitis B, and hepatitis C?Hepatitis A, hepatitis B, and hepatitis C are liver infections caused by 
        three different viruses. Although each can cause similar symptoms, they have different modes of transmission and can affect the liver 
        differently. Hepatitis A is usually a short-term infection and does not become chronic. Hepatitis B and hepatitis C can also begin as 
        short-term, acute infections, but in some people, the virus remains in the body, resulting in chronic disease and long-term liver problems. 
        There are vaccines to prevent hepatitis A and hepatitis B; however, there is no vaccine for hepatitis C.</p>
        
        <p>Norovirus is a very contagious virus that can infect anyone. You can get it from an infected person, contaminated food or water, or by 
        touching contaminated surfaces. The virus causes your stomach or intestines or both to get inflamed. This leads you to have stomach pain, 
        nausea, and diarrhea and to throw up. These symptoms can be serious for some people, especially young children and older adults.</p>
        
        <p>Histoplasmosis is an infection caused by a fungus called Histoplasma. The fungus lives in the environment, particularly in soil that 
        contains large amounts of bird or bat droppings. In the United States, Histoplasma mainly lives in the central and eastern states, 
        especially areas around the Ohio and Mississippi River valleys. The fungus also lives in parts of Central and South America, Africa, Asia, 
        and Australia.People can get histoplasmosis after breathing in the microscopic fungal spores from the air. Although most people who 
        breathe in the spores don’t get sick, those who do may have a fever, cough, and fatigue. Many people who get histoplasmosis will get 
        better on their own without medication, but in some people, such as those who have weakened immune systems, the infection can become severe.</p>
        
        <p>Coronaviruses (CoV) are a large family of viruses that cause illness ranging from the common cold to more severe diseases such as Middle 
        East Respiratory Syndrome (MERS-CoV); and Severe Acute Respiratory Syndrome (SARS-CoV). A novel coronavirus (nCoV) is a new strain that 
        has not been previously identified in humans.
        Coronavirus is an RNA based enveloped virus. Enveloped viruses contain a lipid membrane on the cell wall which adheres to the host 
        cell in order to proliferate. This being the case, the cell wall is easily penetrable to most common disinfectants. Common EPA approved 
        disinfectant makeup can be Quaternary Amonium Compounds, Phenolic Based products and Hydrogen based formulas.</p>
        
        <p>At National Disinfection Services we want to provide you with the most current information about the Coronavirus COVID-19 pandemic.  
        Please visit each of our resource pages on Coronaviruses & COVID-19 located at our top menu bar for more information and continuous 
        updates.  To see live tracking of coronavirus cases click Coronavirus COVID-19 Global Tracker Live Updates, for the CDC’s updates visit 
        CDC Response to Coronavirus COVID-19, for videos about coronavirus, including symptoms & how to protect yourself, please go to our page – 
        CDC Coronavirus COVID-19 Helpful Videos – where you can watch these informative videos, and for National State specific coronavirus updates 
        please go to National State Coronavirus COVID-19 Information Page.</p>
        
        <p>For a detailed description of each of the Disinfection Services we offer, please refer to our Services pages, which are listed in the top 
        menu on this page. For additional information concerning viruses, bacteria, and infectious diseases, including the coronavirus COVID-19, 
        as well as the symptoms and transmission, please view our Helpful Information page and our page on  Virus or Bacteria.</p>
        
        
    </div>
    <div class="col-lg-1">
    </div>
</div>
<div class="row standards">
    <div class="col-lg-5"></div>
    <div class="col-lg-5">
        <h3>We Follow Strict Standards</h3>
        <hr>
        <p>At National Disinfection Services we want to provide you with the most current
            information about the Coronavirus COVID-19 pandemic.  Please visit each of our
            resource pages on Coronaviruses & COVID-19 located at our top menu bar for more
            information and continuous updates.  To see live tracking of coronavirus cases
            click Coronavirus COVID-19 Global Tracker Live Updates, for the CDC’s updates visit CDC
            Response to Coronavirus COVID-19, for videos about coronavirus, including symptoms &
            how to protect yourself, please go to our page – CDC Coronavirus COVID-19 Helpful
            Videos – where you can watch these informative videos, and for New York State specific
            coronavirus updates please go to New York State Coronavirus COVID-19 Information Page.
            For a detailed description of each of the Disinfection Services we offer, please refer to
            our Services pages, which are listed in the top menu on this page. For additional
            information concerning viruses, bacteria, and infectious diseases, including the coronavirus
            COVID-19, as well as the symptoms and transmission, please view our Helpful
            Information page and our page on  Virus or Bacteria.</p>
        <h3>Call National Disinfection Services Today</h3>
        <hr>
        <div>
        <img src="/images/thumbs.jpg" /> 
        <p>We Are Leading Experts in Disinfection</p>
        </div>
        <p>National Disinfection Services specializes in the disinfection of germs, viruses, bacteria, superbugs, MRSA, 
            Coronaviruses, Listeria, Hepatitis, Norovirus, Histoplasmosis, C-Diff and other viruses, bacteria and 
            infectious diseases. We are experts in all forms of disinfection and provide complete emergency 
            disinfection remediation and cleaning services for New York and Connecticut 
            24 hours a day, 7 days a week. If you are in need of disinfection services, please call us today. 
            We understand the challenges facing our customers when they contact us, and we will do our utmost 
            to assist you every step of the way. We will perform a No-Obligation inspection and provide you with a 
            detailed estimate of the work to be performed. We will assist you in negotiating with your insurance 
            carrier. National Disinfection Services is a fully insured corporation and all of our technicians are 
            trained and certified. National Disinfection Services is here to help.</p>
        <h4>Call National Disinfection Services Today</h4>
       
    </div>
    </div>
    <div class="col-lg-2">
    </div>

</div>
<%- include('partials/footer') %>