<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/covid.css" type="text/css">
<div class="row services">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-2">
        <ul>
            <li><a href="/disinfection">Disinfection Services</a></li>
            <li><a href="/covid">Coronaviruses & COVID-19 Disinfection Services</a></li>
            <li><a href="/virus">Virus Disinfection Services</a></li>
            <li><a href="/bacteria">Bacteria Disinfection Services</a></li>
            <li><a href="/mrsa">MRSA Disinfection Services</a></li>
            <li><a href="/cdiff">C. diff Disinfection Services</a></li>
            <li><a href="/hepatitis">Hepatitis Disinfection Services</a></li>
            <li><a href="/norovirus">Norovirus Disinfection Services</a></li>
            <li><a href="/listeria">Listeria Disinfection Services</a></li>
            <li><a href="/histoplasmosis">Histoplasmosis Disinfection Services</a></li>
        </ul>
    </div>
    <div class="col-lg-1">

    </div>
    <div class="col-lg-6">
        <h3>HEPATITIS DISINFECTION SERVICES</h3>
        <hr>
        <p>National Disinfection Services is the leading expert in the disinfection of Hepatitis. We provide emergency 
        service throughout the nation 24 hours a day, 7 days a week.</p>
        
        <p>Hepatitis means inflammation of the liver. When the liver is inflamed or damaged, its function can be affected. 
        Heavy alcohol use, toxins, some medications, and certain medical conditions can cause hepatitis but a virus often 
        causes hepatitis.</p>
        
        <p>What is the difference between hepatitis A, hepatitis B, and hepatitis C?Hepatitis A, hepatitis B, and hepatitis C 
        are liver infections caused by three different viruses. Although each can cause similar symptoms, they have different 
        modes of transmission and can affect the liver differently. Hepatitis A is usually a short-term infection and does not 
        become chronic. Hepatitis B and hepatitis C can also begin as short-term, acute infections, but in some people, the 
        virus remains in the body, resulting in chronic disease and long-term liver problems. There are vaccines to prevent 
        hepatitis A and hepatitis B; however, there is no vaccine for hepatitis C.</p>
        
        <p>Hepatitis A – is a highly contagious liver infection caused by the hepatitis A virus. It can range from a mild illness 
        lasting a few weeks to a severe illness lasting several months. Although rare, hepatitis A can cause death in some people. 
        Hepatitis A usually spreads when a person unknowingly ingests the virus from objects, food, or drinks contaminated by 
        small, undetected amounts of stool from an infected person.</p>
        
        <p>Hepatitis A Symptoms can include:</p>
        
        <p>Older children and adults typically have symptoms. If symptoms develop, they can appear abruptly and can include:</p>
        <ul>
            <li>Fever</li>
            <li>Fatigue</li>
            <li>Loss of appetite</li>
            <li>Nausea</li>
            <li>Vomiting</li>
            <li>Abdominal pain</li>
            <li>Dark urine</li>
            <li>Clay-colored stools</li>
            <li>Joint pain</li>
            <li>Jaundice (yellowing of the skin and eyes)</li>
        </ul>
        <p>*As mentioned above, older children and adults typically have symptoms. Most children younger than age 6 do not have 
        symptoms when they have hepatitis A. When symptoms are present, young children typically do not have jaundice but older 
        children and adults with hepatitis A have jaundice.</p>
        
        <p>Hepatitis A Transmission – Hepatitis A usually spreads when a person unknowingly ingests the virus from objects, food, 
        or drinks contaminated by small, undetected amounts of stool from an infected person. Hepatitis A can also spread 
        from close personal contact with an infected person such as through sex or caring for someone who is ill. 
        Contamination of food (this can include frozen and undercooked food) by hepatitis A can happen at any point: growing, 
        harvesting, processing, handling, and even after cooking. Contamination of food or water is more likely to occur in 
        countries where hepatitis A is common and in areas where there are poor sanitary conditions or poor personal hygiene. 
        In the United States, chlorination of water kills hepatitis A virus that enters the water supply.</p>
        
        <p>Hepatitis A Disinfection Method should include:</p>
        
        <p>In the environment, HAV can be killed by cleaning household or other facility surfaces with a freshly prepared 
        solution of 1:100 dilution of household bleach to water.
        Hepatitis B – Hepatitis B is a liver infection caused by the Hepatitis B virus (HBV).  Hepatitis B is transmitted 
        when blood, semen, or another body fluid from a person infected with the Hepatitis B virus enters the body of 
        someone who is not infected. This can happen through sexual contact; sharing needles, syringes, or other drug-injection 
        equipment; or from mother to baby at birth. For some people, hepatitis B is an acute, or short-term, illness but for 
        others, it can become a long-term, chronic infection. Risk for chronic infection is related to age at infection: 
        approximately 90% of infected infants become chronically infected, compared with 2%–6% of adults. Chronic Hepatitis B 
        can lead to serious health issues, like cirrhosis or liver cancer. The best way to prevent Hepatitis B is by getting 
        vaccinated.</p>
        
        <p>Hepatitis B Symptoms can include:–</p>
        
        <p>Newly acquired (acute) HBV infections only cause symptoms some of the time. The presence of signs and symptoms 
        varies by age. Most children under age 5 years and newly infected immunosuppressed adults are generally asymptomatic, 
        whereas 30%–50% of persons aged ≥5 years have signs and symptoms.  When symptoms do occur, they can include:</p>
        <ul>
            <li>Fever</li>
            <li>Fatigue</li>
            <li>Loss of appetite</li>
            <li>Nausea</li>
            <li>Vomiting</li>
            <li>Abdominal pain</li>
            <li>Dark urine</li>
            <li>Clay-colored bowel movements</li>
            <li>Joint pain</li>
            <li>Jaundice</li>
        </ul>

        <p>*Some acute HBV infections will resolve on their own, but some will develop into chronic infection. Most persons 
        with chronic HBV infection are asymptomatic and have no evidence of liver disease. However, some persons may develop 
        chronic hepatitis (elevation of AST/ALT), cirrhosis, or hepatocellular carcinoma (a type of liver cancer). 
        Hepatitis B is a liver infection caused by the Hepatitis B virus (HBV).</p>
        
        <p>Hepatitis B Transmission – HBV is transmitted through activities that involve percutaneous (i.e., puncture through 
        the skin) or mucosal contact with infectious blood or body fluids (e.g., semen, saliva), including:</p>
        <ul>
            <li>Sex with an infected partner</li>
            <li>Injection drug use that involves sharing needles, syringes, or drug-preparation equipment</li>
            <li>Birth to an infected mother</li>
            <li>Contact with blood or open sores of an infected person</li>
            <li>Needle sticks or sharp instrument exposures</li>
            <li>Sharing items such as razors or toothbrushes with an infected person</li>
        </ul>

        <p>*HBV is not spread through food or water, sharing eating utensils, breastfeeding, hugging, kissing, hand holding, 
        coughing, or sneezing. HBV can survive outside the body at least 7 days and still be capable of causing infection.</p>
        
        <p>Hepatitis B Disinfection Methods should include:</p>
        
        <p>Any blood spills —including dried blood, which can still be infectious —should be cleaned using 1:10 dilution of one 
        part household bleach to 10 parts of water for disinfecting the area. Gloves should be worn when cleaning up any 
        blood spills.
        Hepatitis C – is a liver infection caused by the Hepatitis C virus (HCV). Hepatitis C is a blood-borne virus. 
        Today, most people become infected with the Hepatitis C virus by sharing needles or other equipment to inject 
        drugs. For some people, hepatitis C is a short-term illness but for 70%–85% of people who become infected with 
        Hepatitis C, it becomes a long-term, chronic infection. Chronic Hepatitis C is a serious disease than can result 
        in long-term health problems, even death. The majority of infected persons might not be aware of their infection 
        because they are not clinically ill. There is no vaccine for Hepatitis C. The best way to prevent Hepatitis C is 
        by avoiding behaviors that can spread the disease, especially injecting drugs.</p>
        
        <p>Hepatitis C Symptoms can include:</p>
        
        <p>People with newly acquired HCV infection usually are asymptomatic or have mild symptoms that are unlikely to prompt a 
        visit to a health care professional. When symptoms do occur, they can include:</p>
        <ul>
            <li>Fever</li>
            <li>Fatigue</li>
            <li>Dark urine</li>
            <li>Clay-colored stool</li>
            <li>Abdominal pain</li>
            <li>Loss of appetite</li>
            <li>Nausea</li>
            <li>Vomiting</li>
            <li>Joint pain</li>
            <li>Jaundice</li>
        </ul>
        <p>Approximately 20%–30% of those newly infected with HCV experience fatigue, abdominal pain, poor appetite, or jaundice.
        Hepatitis C Transmission – HCV is transmitted primarily through parenteral exposures to infectious blood or body fluids 
        that contain blood. Possible exposures include:</p>
        
        <p>Injection drug use (currently the most common means of HCV transmission in the United States) •Receipt of donated blood, 
        blood products, and organs (once a common means of transmission but now rare in the United States since blood screening 
        became available in 1992)
        Needlestick injuries in health care settings
        Birth to an HCV-infected motherAlthough infrequent, HCV can also be spread through:
        Sex with an HCV-infected person (an inefficient means of transmission, although HIV-infected men who have sex with men 
        [MSM] have increased risk of sexual transmission)
        Sharing personal items contaminated with infectious blood, such as razors or toothbrushes (also inefficient vectors of transmission)
        Other health care procedures that involve invasive procedures, such as injections (usually recognized in the context of outbreaks)
        Unregulated tattooing</p>
        <p>Hepatitis C Disinfection Methods should include:</p>
        
        <p>Any blood spills —including dried blood, which can still be infectious —should be cleaned using a dilution of 
        one part household bleach to 10 parts water. Gloves should be worn when cleaning up blood spills.
        At National Disinfection Services we want to provide you with the most current information about the Coronavirus 
        COVID-19 pandemic.  Please visit each of our resource pages on Coronaviruses & COVID-19 located at our top menu 
        bar for more information and continuous updates.  To see live tracking of coronavirus cases click Coronavirus 
        COVID-19 Global Tracker Live Updates, for the CDC’s updates visit CDC Response to Coronavirus COVID-19, for 
        videos about coronavirus, including symptoms & how to protect yourself, please go to our page – CDC Coronavirus 
        COVID-19 Helpful Videos – where you can watch these informative videos, and for National State specific coronavirus 
        updates please go to National State Coronavirus COVID-19 Information Page.</p>
        
        <p>For a detailed description of each of the Disinfection Services we offer, please refer to our Services pages, 
        which are listed in the top menu on this page. For additional information concerning viruses, bacteria, and 
        infectious diseases, including the coronavirus COVID-19, as well as the symptoms and transmission, please view 
        our Helpful Information page and our page on  Virus or Bacteria.</p>
        
        <p>For our Water, Mold, Fire & Smoke Restoration and Remediation Services, please visit itsenvironmentalservices.com 
        for information on our additional Restoration Services. If you have any questions, please contact us anytime. 
        We are here to help.</p>
    </div>
    <div class="col-lg-1">
    </div>
</div>
<div class="row standards">
    <div class="col-lg-5">
    </div>
    <div class="col-lg-5">
        <h3>We Follow Strict Standards</h3>
        <hr>
       <p>
        The cleaning and disinfection of germs, viruses, bacteria, superbugs and any infectious disease should be performed by 
        experienced and trained professionals. National Disinfection Services has a team of highly trained and experienced 
        technicians that understand the risks involved in the cleanup and disinfection of infectious germs, viruses and bacteria 
        such as MRSA, Listeria, Hepatitis A, B & C, HIV, Norovirus, Coronavirus (including COVID-19), Histoplasmosis and other 
        infectious diseases. We have the proper equipment, PPE, disinfectants and training to safely and effectively clean and 
        disinfect areas affected by viral and bacterial contamination. We can provide expert cleaning and disinfection methods 
        in homes, office buildings, any type of transportation vehicle, gymnasiums, schools, medical building and any affected 
        area and environment. Please call us today for a free no-obligation estimate. We will perform a thorough inspection of 
        the affected area, answer any questions and provide a detailed cleaning and disinfection protocol. We are available 24/7. 
        Call National Disinfection Services today at 833-817-6591. We are here to help.</p>
        <h3>Call National Disinfection Services Today</h3>
        <hr>
        <div>
            <img src="/images/thumbs.jpg" /> 
            <p>We Are Leading Experts in Disinfection</p>
        </div>
        <p>National Disinfection Services specializes in the disinfection of germs, viruses, bacteria, superbugs, MRSA, Coronaviruses, Listeria, Hepatitis, Norovirus, Histoplasmosis, C-Diff and other viruses, bacteria and infectious diseases. We are experts in all forms of disinfection and serve Long Island, National, New Jersey and Connecticut. We provide complete emergency disinfection remediation and cleaning services for National, Long Island, Nassau, Suffolk, Brooklyn, Queens, Bronx, Staten Island, Westchester, New Jersey and Connecticut 24 hours a day, 7 days a week. If you are in need of disinfection services, please call us today. We understand the challenges facing our customers when they contact us, and we will do our utmost to assist you every step of the way. We will perform a No-Obligation inspection and provide you with a detailed estimate of the work to be performed. We will assist you in negotiating with your insurance carrier. National Disinfection Services is a fully insured corporation and all of our technicians are trained and certified. National Disinfection Services is here to help.</p>
        <h4>Call National Disinfection Services Today</h4>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<%- include('partials/footer') %>