<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/covid.css" type="text/css">
<div class="row services">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-2">
        <ul>
            <li><a href="/disinfection">Disinfection Services</a></li>
            <li><a href="/covid">Coronaviruses & COVID-19 Disinfection Services</a></li>
            <li><a href="/virus">Virus Disinfection Services</a></li>
            <li><a href="/bacteria">Bacteria Disinfection Services</a></li>
            <li><a href="/mrsa">MRSA Disinfection Services</a></li>
            <li><a href="/cdiff">C. diff Disinfection Services</a></li>
            <li><a href="/hepatitis">Hepatitis Disinfection Services</a></li>
            <li><a href="/norovirus">Norovirus Disinfection Services</a></li>
            <li><a href="/listeria">Listeria Disinfection Services</a></li>
            <li><a href="/histoplasmosis">Histoplasmosis Disinfection Services</a></li>
        </ul>
    </div>
    <div class="col-lg-1">

    </div>
    <div class="col-lg-6">
        <h3>HISTOPLASMOSIS DISINFECTION SERVICES</h3>
        <hr>
        <p>National Disinfection Services is the leading expert in the disinfection of Histoplasmosis. We provide emergency 
        service throughout the nation 24 hours a day, 7 days a week.</p>
        
        <p>Histoplasmosis is an infection caused by a fungus called Histoplasma. The fungus lives in the environment, 
        particularly in soil that contains large amounts of bird or bat droppings. In the United States,Histoplasmamainly 
        lives in the central and eastern states, especially areas around the Ohio and Mississippi River valleys. The fungus 
        also lives in parts of Central and South America, Africa, Asia, and Australia.People can get histoplasmosis after 
        breathing in the microscopic fungal spores from the air. Although most people who breathe in the spores don’t get sick, 
        those who do may have a fever, cough, and fatigue. Many people who get histoplasmosis will get better on their own 
        without medication, but in some people, such as those who have weakened immune systems, the infection can become severe.</p>
        
        <ul>Histoplasmosis Symptoms can include:
            <li>Fever
            <li>Cough
            <li>Fatigue (extreme tiredness)
            <li>Chills
            <li>Headache
            <li>Chest pain
            <li>Body aches
        </ul>
        <p>*As mentioned above, in some people, usually those who have weakened immune systems, histoplasmosis can develop 
        into a long-term lung infection, or it can spread from the lungs to other parts of the body, such as the central 
        nervous system (the brain and spinal cord).</p>
        
        <p>Histoplasmosis Transmission – Histoplasmosis is typically acquired via inhalation of airborne microconidia, 
        often after disturbance of contaminated material (e.g., activities such as spelunking, cleaning chicken coops, 
        or construction). Primary cutaneous histoplasmosis and solid organ donor-derived histoplasmosis are extremely 
        uncommon. Histoplasma grows best in soil that contains bird or bat droppings. Bats can get histoplasmosis and 
        spread the fungus in their droppings. It can be difficult to avoid breathing in Histoplasma in areas where it’s 
        common in the environment. In areas where Histoplasma is known to live, people who have weakened immune systems 
        (for example, by HIV/AIDS, an organ transplant, or medications such as corticosteroids or TNF-inhibitors) should 
        avoid doing activities that are known to be associated with getting histoplasmosis, including:</p>
        <ul>
            <li>Disturbing material (for example, digging in soil or chopping wood) where there are bird or bat droppings</li>
            <li>Cleaning chicken coops</li>
            <li>Exploring caves</li>
            <li>Cleaning, remodeling, or tearing down old buildings.</li>
            <li>Histoplasmosis Disinfection Method should include: </li>
        </ul>
        <p>Although there are no EPA approved chemicals or disinfectants known to kill Histoplasmosis, the generally accepted 
        method of eradication involves wetting/misting areas with high concentrations of droppings with a 10:1 solution of 
        water to bleach. Droppings should be disposed of in line with regulations for regulated medical waste. Full PPE is 
        mandatory for this type of disinfection. Large amounts of bird or bat droppings should be cleaned up by professional 
        companies that specialize in the removal of hazardous waste.</p>
        
        <p>At National Disinfection Services we want to provide you with the most current information about the Coronavirus 
        COVID-19 pandemic.  Please visit each of our resource pages on Coronaviruses & COVID-19 located at our top menu 
        bar for more information and continuous updates.  To see live tracking of coronavirus cases click Coronavirus 
        COVID-19 Global Tracker Live Updates, for the CDC’s updates visit CDC Response to Coronavirus COVID-19, for videos 
        about coronavirus, including symptoms & how to protect yourself, please go to our page – CDC Coronavirus COVID-19 
        Helpful Videos – where you can watch these informative videos, and for National State specific coronavirus updates 
        please go to National State Coronavirus COVID-19 Information Page.</p>
        
        <p>For a detailed description of each of the Disinfection Services we offer, please refer to our Services pages, 
        which are listed in the top menu on this page. For additional information concerning viruses, bacteria, and infectious 
        diseases, including the coronavirus COVID-19, as well as the symptoms and transmission, please view our Helpful 
        Information page and our page on  Virus or Bacteria.</p>
        
        
    </div>
    <div class="col-lg-1">
    </div>
</div>
<div class="row standards">
    <div class="col-lg-5"></div>
    <div class="col-lg-5">
        <h3>We Follow Strict Standards</h3>
        <hr>
        <p>At National Disinfection Services we want to provide you with the most current
            information about the Coronavirus COVID-19 pandemic.  Please visit each of our
            resource pages on Coronaviruses & COVID-19 located at our top menu bar for more
            information and continuous updates.  To see live tracking of coronavirus cases
            click Coronavirus COVID-19 Global Tracker Live Updates, for the CDC’s updates visit CDC
            Response to Coronavirus COVID-19, for videos about coronavirus, including symptoms &
            how to protect yourself, please go to our page – CDC Coronavirus COVID-19 Helpful
            Videos – where you can watch these informative videos, and for New York State specific
            coronavirus updates please go to New York State Coronavirus COVID-19 Information Page.
            For a detailed description of each of the Disinfection Services we offer, please refer to
            our Services pages, which are listed in the top menu on this page. For additional
            information concerning viruses, bacteria, and infectious diseases, including the coronavirus
            COVID-19, as well as the symptoms and transmission, please view our Helpful
            Information page and our page on  Virus or Bacteria.</p>
        <h3>Call National Disinfection Services Today</h3>
        <hr>
        <div>
        <img src="/images/thumbs.jpg" /> 
        <p>We Are Leading Experts in Disinfection</p>
        </div>
        <p>National Disinfection Services specializes in the disinfection of germs, viruses, bacteria, superbugs, MRSA, Coronaviruses, Listeria, Hepatitis, Norovirus, Histoplasmosis, C-Diff and other viruses, bacteria and infectious diseases. We are experts in all forms of disinfection and serve Long Island, National, New Jersey and Connecticut. We provide complete emergency disinfection remediation and cleaning services for National, Long Island, Nassau, Suffolk, Brooklyn, Queens, Bronx, Staten Island, Westchester, New Jersey and Connecticut 24 hours a day, 7 days a week. If you are in need of disinfection services, please call us today. We understand the challenges facing our customers when they contact us, and we will do our utmost to assist you every step of the way. We will perform a No-Obligation inspection and provide you with a detailed estimate of the work to be performed. We will assist you in negotiating with your insurance carrier. National Disinfection Services is a fully insured corporation and all of our technicians are trained and certified. National Disinfection Services is here to help.</p>
        <h4>Call National Disinfection Services Today</h4>
       
    </div>
    </div>
    <div class="col-lg-2">
    </div>

</div>
<%- include('partials/footer') %>