<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/index.css" type="text/css">
<div class="row quote">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-1 col-xs-1">
  </div>
  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-11 col-xs-10" data-aos="fade-right"  data-aos-duration="3000">
    <h3>National Disinfection Services 1-833-6591</h3>
  </div>
  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-11 col-xs-1">
  </div>
  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-11 col-xs-1 text-center" data-aos="fade-left"  data-aos-duration="3000">
    <form action="/contact">
      <button type="submit">
        <a href="/contact">Book Now</a>
      </button>
    </form>  
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-11 col-xs-1">
  </div> 
</div>
<div class="row indexAbout">
  <div class="col-lg-12 text-center">
    <h2>National Disinfection Services</h2>
    <hr>
  </div>
</div>
<div class="row indexDesc no-gutters" data-aos="fade-up" data-aos-duration="3000">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-8 text-center">
    <h3>Ensuring Your Health & Well-Being</h3>
    <p>As an essential and frontline business, National Disinfection Services (NDS) compassionately
    understands that these challenging times have affected us all. We felt compelled to provide a service
    that is both affordable and highly effective, and that helps to ensure the health and well-being of both
    you and your customer.</p>
    <p>National Disinfection Services is a full-service disinfection and sterilization company, specializing in the
    residential, commercial, and industrial markets. The team at NDS has substantial training and
    experience. We use advanced techniques, equipment, and methodology to provide the most effective
    and safe disinfection process.</p>
    <p>NDS is an exclusive and authorized applicator of all Steriltex products. The disinfectant products are
    hospital grade, CDC, and EPA- Registered and N-Listed approved cleaners and disinfectants. Products are
    engineered to combat 99.5 % of all viruses, bacteria, and pathogens including SARS-CoV -2, the cause of
    COVID -19. NDS adheres to strict guidelines and procedures from the Centers for Disease Control (CDC)
    and Department of Health and Human Services (HHS) and the Environmental Protection Agency (EPA).
    Our technicians always wear approved EPA/CDC Personal Protection Equipment (PPE) while preforming
    the treatment and products used are safe and leave no harmful residue.</p>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<div class="row indexIndustries">
  <div class="col-lg-3">
  </div>
  <div class="col-lg-2">
    <a href="/residential"> <img class="residential" src="/images/residential.jpg" /> </a>
    <ul>Residential
      <li>New Homeowner</li>
      <li>Existing Homeowner</li>
      <li>New Renter</li>
      <li>Existing Renter</li>
    </ul>
  </div>
  <div class="col-lg-2">
    <a href="/commercial"> <img src="/images/commercial.jpg" /> </a>
    <ul>Commercial
      <li>Office</li>
      <li>Retail</li>
      <li>Gyms</li>
      <li>Theaters</li>
      <li>Truck Fleets</li>
      <li>Medical Offices</li>
    </ul>
  </div>
  <div class="col-lg-2">
    <a href="/institutional"> <img src="/images/institutional.jpg" /> </a>
    <ul>Institutional
      <li>Schools</li>
      <li>Universities</li>
      <li>Religious Organizations</li>
      <li>Recreational Facilities</li>
      <li>Sports Facilities</li>
      <li>Government Facilities</li>
    </ul>
  </div>
  <div class="col-lg-3">
  </div>
</div>
<div class="row services text-center">
  <div class="col-lg-12">
    <h2>OUR SERVICES</h2>
    <hr />
  </div>
</div>
<div class="row indexImages no-gutters" data-aos="fade-up"  data-aos-duration="3000">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-2">
      <a href="#"><img src="/images/mask.png" /> </a>
      <h4>Disinfection Services</h4>
      <hr />
      <p>The cleaning and disinfection of germs, viruses, bacteria, superbugs and any infectious disease should be</p>
    </div>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-2">
      <a href="#"><img src="/images/virus-cell.jpg" /> </a>
      <h4>Coronaviruses & COVID-19 Disinfection Services</h4>
      <hr />
      <p>National Disinfection Services is a leading expert in the disinfection of coronaviruses. We provide</p>
    </div>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-2">
      <a href="#"><img src="/images/virus-cells-2.jpg" /> </a>
      <h4>Virus Disinfection Services</h4>
      <hr />
      <p>National Disinfection Services is the leading expert in the disinfection of viruses. We provide</p>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="row indexImages no-gutters" data-aos="fade-up">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-2">
      <a href="#"><img src="/images/bacteria-cell.jpg" /> </a>
      <h4>Disinfection Services</h4>
      <hr />
      <p>The cleaning and disinfection of germs, viruses, bacteria, superbugs and any infectious disease should be</p>
    </div>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-2">
      <a href="#"><img src="/images/mrsa-cells.jpg" /> </a>
      <h4>Coronaviruses & COVID-19 Disinfection Services</h4>
      <hr />
      <p>National Disinfection Services is a leading expert in the disinfection of coronaviruses. We provide</p>
    </div>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-2">
      <a href="#"><img src="/images/cdiff-cells.jpg" /> </a>
      <h4>Virus Disinfection Services</h4>
      <hr />
      <p>National Disinfection Services is the leading expert in the disinfection of viruses. We provide</p>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="row indexImages no-gutters" data-aos="fade-up">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-2">
      <a href="#"><img src="/images/hepatitis-cells.jpg" /> </a>
      <h4>Disinfection Services</h4>
      <hr />
      <p>The cleaning and disinfection of germs, viruses, bacteria, superbugs and any infectious disease should be</p>
    </div>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-2">
      <a href="#"><img src="/images/norovirus-cells.jpg" /> </a>
      <h4>Coronaviruses & COVID-19 Disinfection Services</h4>
      <hr />
      <p>National Disinfection Services is a leading expert in the disinfection of coronaviruses. We provide</p>
    </div>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-2">
      <a href="#"><img src="/images/listeria-cells.jpeg" /> </a>
      <h4>Virus Disinfection Services</h4>
      <hr />
      <p>National Disinfection Services is the leading expert in the disinfection of viruses. We provide</p>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="row indexImages no-gutters" data-aos="fade-up">
    <div class="col-lg-2"></div>
    <div class="col-lg-2">
      <a href="#"><img src="/images/histoplasmosis-cells.jpg" /> </a>
      <h4>Disinfection Services</h4>
      <hr />
      <p>The cleaning and disinfection of germs, viruses, bacteria, superbugs and any infectious disease should be</p>
    </div>
    <div class="col-lg-8"></div>
</div>
<div class="architecture row no-gutters">
    <div class="col-lg-12 text-center">
      <h3>WHY US?</h3>
      <hr>
    </div>
    <div class="col-lg-3">
    </div>
    <div class="col-lg-2">
        <h4>WE ARE HERE FOR YOU</h4>
        <p>We specialize in the disinfection of viruses, bacteria and other infectious diseases. We will restore your home or business so you can take care of those most important to you, your family.  We are here for you.</p>
    </div>
    <div class="col-lg-2">
        <h4>HIGHEST QUALITY STANDARDS</h4>
        <p>National Disinfection Services follows the strict standards of the IICRC (Institute of Inspection Cleaning and Restoration Certification), which sets the regulations for the cleaning industry.  We are fully trained and certified.</p>
      </div>
      <div class="col-lg-2">
        <h4>WE HAVE THE TOOLS</h4>
        <p>We have the most advanced tools and equipment to handle any disinfection job.</p>
      </div>
      <div class="col-lg-3">
      </div>
      <!-- break into new row -->
      <div class="col-lg-3">
      </div>
      <div class="col-lg-2">
        <h4>FREE ESTIMATES</h4>
        <p>New York Disinfection Services will provide you with a FREE no-obligation estimate.  We are fully insured.  Call us today!</p>
      </div>
      <div class="col-lg-2">
        <h4>EXPERIENCE</h4>
        <p>We have many years of experience & all our employees have received hands-on training.</p>
      </div>
      <div class="col-lg-2">
        <h4>GREAT SUPPORT</h4>
        <p>We're available 7 days a week.  Please call us.  We are here to help!</p>
      </div>
      <div class="col-lg-3">
      </div>
</div>
<%- include('partials/footer') %>







<div class="row quote">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-1 col-xs-1">
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-4" data-aos="fade-right"  data-aos-duration="3000">
      <h3>National Disinfection Services 1-833-6591</h3>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-4 text-center" data-aos="fade-left"  data-aos-duration="3000">
      <form action="/contact">
        <button type="submit">
          <a href="/contact">Book Now</a>
        </button>
      </form>  
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-1 col-xs-1">
    </div> 
</div>