          <%- include('partials/header') %>
          <link rel="stylesheet" href="/stylesheets/index.css" type="text/css">
          <div class="row quote">
              <div class="col-lg-12 text-center">
                <h2 data-aos="fade-right"  data-aos-duration="3000">National Disinfection Services</h2>
                <form action="/contact">
                  <button type="submit">
                    <a href="/contact">Contact</a>
                  </button>
                </form>  
              </div>
          </div>
          <div class="row indexAbout">
            <div class="col-lg-12 text-center">
              <h2>ABOUT US</h2>
              <hr>
            </div>
          </div>
          <div class="row indexDesc no-gutters" data-aos="fade-up" data-aos-duration="3000">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8 text-center">
              <p>
              *In response to the latest emerging updates on coronavirus COVID-19, we are updating information on the pandemic as quickly as possible. Please go to our top menu bar to locate our coronavirus COVID-19 resource pages.  If you have any questions, please contact us at 1-833-6591.
              The cleaning and disinfection of germs, viruses, bacteria, superbugs and any infectious disease should be performed by experienced and trained professionals.  National Disinfection Services has a team of highly trained and experienced technicians that understand the risks involved in the cleanup and disinfection of infectious germs, viruses and bacteria such as MRSA, Listeria, Hepatitis A, B & C, HIV, Norovirus, Coronavirus (including COVID-19), Histoplasmosis and other infectious diseases.  We have the proper equipment, PPE, disinfectants and training to safely and effectively clean and disinfect areas affected by viral and bacterial contamination.  We can provide expert cleaning and disinfection methods in homes, office buildings, any type of transportation vehicle, gymnasiums, schools, medical building and any affected area and environment.  Please call us today for a free no-obligation estimate.  We will perform a thorough inspection of the affected area, answer any questions and provide a detailed cleaning and disinfection protocol.  We are available 24/7.  Call National Disinfection Services today at 1-833-6591.  We are here to help.
              Additionally, National Disinfection Services owner is one of only a small number of people that have been awarded the Council-certified Environmental Infection Control Remediator (CEICR) designation by the American Council for Accredited Certification (ACAC). This prestigious, board-awarded certification recognizes one’s knowledge and field experience in remediating building related infection control issues. To earn the CEICR designation, a person must pass a rigorous examination based on respected industry texts and then submit documented, verifiable field experience to a board of peers, earning a unanimous vote of approval.  The CEICR designation is accredited by the Council of Engineering and Scientific Specialty Boards (CESB).
              If you are in need of a Disinfection Service Company, contact National Disinfection Services today. We understand the challenges facing our customers when they contact us, and we will do our utmost to assist you every step of the way. Prior to beginning any disinfection job, we will perform a No-Obligation thorough inspection of the scene, meet with you and discuss our cleanup plan and provide you with a detailed estimate of the work to be performed. Our experienced claims personnel we will contact your insurance carrier on your behalf and handle all negotiations.
              At National Disinfection Services, the protection of our customers is our primary concern. During this challenging time, our team of patient and compassionate support staff will guide you through the process, and our project managers will negotiate with the insurance carrier on your behalf. All our customers are treated with the utmost dignity and respect and every job is performed as discreetly as possible. Complete re-build services are also available upon request. Knowing that the professionals at National Disinfection Services are taking care of the disinfection, cleanup and restoration will enable you to focus on the important matters and each other.
              At National Disinfection Services, we know that getting the highest qualified disinfection remediation professionals to safely handle the disinfection of a contaminated environment is only one step in the process for our customers. We are in business not only to provide specialized cleaning services, we also truly want to help make a difference. Whether it is through performing expert cleanup & disinfection services, providing support information to help people move forward from a loss, spreading awareness about causes we support or making a donation to a worthy charity, we want to do our part to help bring hope and healing to others. It is our purpose and our goal. As we continue to grow our business, so too will we continue to strive to find ways to give back and hope to make a difference each day.
              At National Disinfection Services we want to provide you with the most current information about the Coronavirus COVID-19 pandemic.  Please visit each of our resource pages on Coronaviruses & COVID-19 located at our top menu bar for more information and continuous updates.  To see live tracking of coronavirus cases click Coronavirus COVID-19 Global Tracker Live Updates, for the CDC’s updates visit CDC Response to Coronavirus COVID-19, for videos about coronavirus, including symptoms & how to protect yourself, please go to our page – CDC Coronavirus COVID-19 Helpful Videos – where you can watch these informative videos, and for New York State specific coronavirus updates please go to New York State Coronavirus COVID-19 Information Page.
              For a detailed description of each of the Disinfection Services we offer, please refer to our Services pages, which are listed in the top menu on this page. For additional information concerning viruses, bacteria, and infectious diseases, including the coronavirus COVID-19, as well as the symptoms and transmission, please view our Helpful Information page and our page on  Virus or Bacteria.
              For our Water, Mold, Fire & Smoke Restoration and Remediation Services, please visit itsenvironmentalservices.com for information on our additional Restoration Services. If you have any questions, please contact us anytime. We are here to help.
              Call National Disinfection Services Today
              National Disinfection Services is a fully insured corporation, and all of our technicians are highly trained, experienced and certified. Serving all of New York, New Jersey, Connecticut and Long Island, National Disinfection Services provides specialized disinfection remediation cleaning services. Call us today 1-833-6591, we are here to help.
              The hardest jobs are often the ones most worth doing.
            </p>
            </div>
            <div class="col-lg-2">
            </div>
          </div>
          <div class="row services text-center">
            <div class="col-lg-12">
              <h2>OUR SERVICES</h2>
              <hr />
            </div>
          </div>
          <div class="row indexImages no-gutters" data-aos="fade-up"  data-aos-duration="3000">
              <div class="col-lg-2">
              </div>
              <div class="col-lg-2">
                <a href="#"><img src="/images/mask.png" /> </a>
                <h4>Disinfection Services</h4>
                <hr />
                <p>The cleaning and disinfection of germs, viruses, bacteria, superbugs and any infectious disease should be</p>
              </div>
              <div class="col-lg-1">
              </div>
              <div class="col-lg-2">
                <a href="#"><img src="/images/virus-cell.jpg" /> </a>
                <h4>Coronaviruses & COVID-19 Disinfection Services</h4>
                <hr />
                <p>National Disinfection Services is a leading expert in the disinfection of coronaviruses. We provide</p>
              </div>
              <div class="col-lg-1">
              </div>
              <div class="col-lg-2">
                <a href="#"><img src="/images/virus-cells-2.jpg" /> </a>
                <h4>Virus Disinfection Services</h4>
                <hr />
                <p>National Disinfection Services is the leading expert in the disinfection of viruses. We provide</p>
              </div>
              <div class="col-lg-2">
              </div>
          </div>
          <div class="row indexImages no-gutters" data-aos="fade-up">
              <div class="col-lg-2">
              </div>
              <div class="col-lg-2">
                <a href="#"><img src="/images/bacteria-cell.jpg" /> </a>
                <h4>Disinfection Services</h4>
                <hr />
                <p>The cleaning and disinfection of germs, viruses, bacteria, superbugs and any infectious disease should be</p>
              </div>
              <div class="col-lg-1">
              </div>
              <div class="col-lg-2">
                <a href="#"><img src="/images/mrsa-cells.jpg" /> </a>
                <h4>Coronaviruses & COVID-19 Disinfection Services</h4>
                <hr />
                <p>National Disinfection Services is a leading expert in the disinfection of coronaviruses. We provide</p>
              </div>
              <div class="col-lg-1">
              </div>
              <div class="col-lg-2">
                <a href="#"><img src="/images/cdiff-cells.jpg" /> </a>
                <h4>Virus Disinfection Services</h4>
                <hr />
                <p>National Disinfection Services is the leading expert in the disinfection of viruses. We provide</p>
              </div>
              <div class="col-lg-2">
              </div>
          </div>
          <div class="row indexImages no-gutters" data-aos="fade-up">
              <div class="col-lg-2">
              </div>
              <div class="col-lg-2">
                <a href="#"><img src="/images/hepatitis-cells.jpg" /> </a>
                <h4>Disinfection Services</h4>
                <hr />
                <p>The cleaning and disinfection of germs, viruses, bacteria, superbugs and any infectious disease should be</p>
              </div>
              <div class="col-lg-1">
              </div>
              <div class="col-lg-2">
                <a href="#"><img src="/images/norovirus-cells.jpg" /> </a>
                <h4>Coronaviruses & COVID-19 Disinfection Services</h4>
                <hr />
                <p>National Disinfection Services is a leading expert in the disinfection of coronaviruses. We provide</p>
              </div>
              <div class="col-lg-1">
              </div>
              <div class="col-lg-2">
                <a href="#"><img src="/images/listeria-cells.jpeg" /> </a>
                <h4>Virus Disinfection Services</h4>
                <hr />
                <p>National Disinfection Services is the leading expert in the disinfection of viruses. We provide</p>
              </div>
              <div class="col-lg-2">
              </div>
          </div>
          <div class="row indexImages no-gutters" data-aos="fade-up">
              <div class="col-lg-2"></div>
              <div class="col-lg-2">
                <a href="#"><img src="/images/histoplasmosis-cells.jpg" /> </a>
                <h4>Disinfection Services</h4>
                <hr />
                <p>The cleaning and disinfection of germs, viruses, bacteria, superbugs and any infectious disease should be</p>
              </div>
              <div class="col-lg-8"></div>
          </div>
          <div class="architecture row">
              <div class="col-lg-12 text-center">
                <h3>WHY US?</h3>
                <hr />
              </div>
              <div class="col-lg-3"></div>
              <div class="col-lg-2">
                <h4>WE ARE HERE FOR YOU</h4>
                <p>We specialize in the disinfection of viruses, bacteria and other infectious diseases. We will restore your home or business so you can take care of those most important to you, your family.  We are here for you.</p>
              </div>
              <div class="col-lg-2">
                <h4>HIGHEST QUALITY STANDARDS</h4>
                <p>New York Disinfection Services follows the strict standards of the IICRC (Institute of Inspection Cleaning and Restoration Certification), which sets the regulations for the cleaning industry.  We are fully trained and certified.</p>
              </div>
              <div class="col-lg-2">
                <h4>WE HAVE THE TOOLS</h4>
                <p>We have the most advanced tools and equipment to handle any disinfection job.</p>
              </div>
              <div class="col-lg-3"></div>
            </div>
        </div>
          <%- include('partials/footer') %>
