<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/covid.css" type="text/css">

<div class="row industries">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8 text-center">
        <h2>INDUSTRIES OF NDS</h2>
        <hr>
        <hr>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="row indexIndustries" data-aos="fade-up"  data-aos-duration="3000">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-2">
      <a href="/residential"> <img class="residential" src="/images/residential.jpg" /> </a>
      <ul><b>Residential</b>
        <li>New Homeowner</li>
        <li>Existing Homeowner</li>
        <li>New Renter</li>
        <li>Existing Renter</li>
      </ul>
    </div>
    <div class="col-lg-2">
      <a href="/commercial"> <img src="/images/commercial.jpg" /> </a>
      <ul><b>Commercial</b>
        <li>Office</li>
        <li>Retail</li>
        <li>Gyms</li>
        <li>Theaters</li>
        <li>Truck Fleets</li>
        <li>Medical Offices</li>
      </ul>
    </div>
    <div class="col-lg-2">
      <a href="/institutional"> <img src="/images/institutional.jpg" /> </a>
      <ul><b>Institutional</b>
        <li>Schools</li>
        <li>Universities</li>
        <li>Religious Organizations</li>
        <li>Recreational Facilities</li>
        <li>Sports Facilities</li>
        <li>Government Facilities</li>
      </ul>
    </div>
    <div class="col-lg-3">
    </div>
</div>


<div class="row footnote">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-3" data-aos="fade-right"  data-aos-duration="3000">
            <img src="/images/thumbs.jpg" /> 
            <p>We Are Leading Experts in Disinfection</p>
    </div>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-5" data-aos="fade-up"  data-aos-duration="3000">
        <h3>We Follow Strict Standards</h3>
        <hr>
        <hr>
        <p>The cleaning and disinfection of germs, viruses, bacteria, superbugs and any infectious disease 
            should be performed by experienced and trained professionals. National Disinfection Services has a 
            team of highly trained and experienced technicians that understand the risks involved in the cleanup 
            and disinfection of infectious germs, viruses and bacteria such as MRSA, Listeria, Hepatitis A, B & C, 
            HIV, Norovirus, Coronavirus (including COVID-19), Histoplasmosis and other infectious diseases. We have 
            the proper equipment, PPE, disinfectants and training to safely and effectively clean and disinfect areas 
            affected by viral and bacterial contamination. We can provide expert cleaning and disinfection methods in 
            homes, office buildings, any type of transportation vehicle, gymnasiums, schools, medical building and any 
            affected area and environment. Please call us today for a free no-obligation estimate. We will perform a 
            thorough inspection of the affected area, answer any questions and provide a detailed cleaning and 
            disinfection protocol. We are available 24/7. Call National Disinfection Services today at 1-855-872-8624. 
            We are here to help.</p>
        <h3>Call National Disinfection Services Today</h3>
        <hr>
        <hr>
        <p>National Disinfection Services specializes in the disinfection of germs, viruses, bacteria, superbugs, 
            MRSA, Coronaviruses, Listeria, Hepatitis, Norovirus, Histoplasmosis, C-Diff and other viruses, 
            bacteria and infectious diseases. We are experts in all forms of disinfection and serve the New York
             and Connecticut areas Long Island, New York, New Jersey and Connecticut. We provide complete emergency 
             disinfection remediation and cleaning services for New York, Long Island, Nassau, Suffolk, Brooklyn, 
             Queens, Bronx, Staten Island, Westchester, New Jersey and Connecticut 24 hours a day, 7 days a week. If 
             you are in need of disinfection services, please call us today. We understand the challenges facing our 
             customers when they contact us, and we will do our utmost to assist you every step of the way. We will 
             perform a No-Obligation inspection and provide you with a detailed estimate of the work to be performed. 
             We will assist you in negotiating with your insurance carrier. National Disinfection Services is a fully 
             insured corporation and all of our technicians are trained in CDS and EPA guidelines and procedures. and 
             certified. National Disinfection Services is here to help.
            Call National Disinfection Services Today.</p>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<%- include('partials/footer') %>