<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/covid.css" type="text/css">

<div class="row industries">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8 text-center">
        <h2>INDUSTRIES OF NDS</h2>
        <hr>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="row indexIndustries">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-3">
      <a href="/residential"> <img class="residential" src="/images/residential.jpg" /> </a>
      <ul>Residential
        <li>New Homeowner</li>
        <li>Existing Homeowner</li>
        <li>New Renter</li>
        <li>Existing Renter</li>
      </ul>
    </div>
    <div class="col-lg-4">
      <a href="/commercial"> <img src="/images/commercial.jpg" /> </a>
      <ul>Commercial
        <li>Office</li>
        <li>Retail</li>
        <li>Gyms</li>
        <li>Theaters</li>
        <li>Truck Fleets</li>
        <li>Medical Offices</li>
      </ul>
    </div>
    <div class="col-lg-3">
      <a href="/institutional"> <img src="/images/institutional.jpg" /> </a>
      <ul>Institutional
        <li>Schools</li>
        <li>Universities</li>
        <li>Religious Organizations</li>
        <li>Recreational Facilities</li>
        <li>Sports Facilities</li>
        <li>Government Facilities</li>
      </ul>
    </div>
    <div class="col-lg-1">
    </div>
  </div>


<div class="row footnote">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-3">
            <img src="/images/thumbs.jpg" /> 
            <p>We Are Leading Experts in Disinfection</p>
    </div>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-5">
        <h3>We Follow Strict Standards</h3>
        <hr>
        <p>At National Disinfection Services we want to provide you with the most current
            information about the Coronavirus COVID-19 pandemic.  Please visit each of our
            resource pages on Coronaviruses & COVID-19 located at our top menu bar for more
            information and continuous updates.  To see live tracking of coronavirus cases
            click Coronavirus COVID-19 Global Tracker Live Updates, for the CDC’s updates visit CDC
            Response to Coronavirus COVID-19, for videos about coronavirus, including symptoms &
            how to protect yourself, please go to our page – CDC Coronavirus COVID-19 Helpful
            Videos – where you can watch these informative videos, and for New York State specific
            coronavirus updates please go to New York State Coronavirus COVID-19 Information Page.
            For a detailed description of each of the Disinfection Services we offer, please refer to
            our Services pages, which are listed in the top menu on this page. For additional
            information concerning viruses, bacteria, and infectious diseases, including the coronavirus
            COVID-19, as well as the symptoms and transmission, please view our Helpful
            Information page and our page on  Virus or Bacteria.</p>
        <h3>Call National Disinfection Services Today</h3>
        <hr>
        <p>National Disinfection Services specializes in the disinfection of germs, viruses, bacteria, superbugs, 
            MRSA, Coronaviruses, Listeria, Hepatitis, Norovirus, Histoplasmosis, C-Diff and other viruses, 
            bacteria and infectious diseases. We are experts in all forms of disinfection and serve the New York
             and Connecticut areas Long Island, New York, New Jersey and Connecticut. We provide complete emergency 
             disinfection remediation and cleaning services for New York, Long Island, Nassau, Suffolk, Brooklyn, 
             Queens, Bronx, Staten Island, Westchester, New Jersey and Connecticut 24 hours a day, 7 days a week. If 
             you are in need of disinfection services, please call us today. We understand the challenges facing our 
             customers when they contact us, and we will do our utmost to assist you every step of the way. We will 
             perform a No-Obligation inspection and provide you with a detailed estimate of the work to be performed. 
             We will assist you in negotiating with your insurance carrier. National Disinfection Services is a fully 
             insured corporation and all of our technicians are trained in CDS and EPA guidelines and procedures. and 
             certified. National Disinfection Services is here to help.
            Call National Disinfection Services Today.</p>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<%- include('partials/footer') %>