<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/covid.css" type="text/css">
<div class="row services">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-2">
        <ul>
            <li><a href="/disinfection">Disinfection Services</a></li>
            <li><a href="/covid">Coronaviruses & COVID-19 Disinfection Services</a></li>
            <li><a href="/virus">Virus Disinfection Services</a></li>
            <li><a href="/bacteria">Bacteria Disinfection Services</a></li>
            <li><a href="/mrsa">MRSA Disinfection Services</a></li>
            <li><a href="/cdiff">C. diff Disinfection Services</a></li>
            <li><a href="/hepatitis">Hepatitis Disinfection Services</a></li>
            <li><a href="/norovirus">Norovirus Disinfection Services</a></li>
            <li><a href="/listeria">Listeria Disinfection Services</a></li>
            <li><a href="/histoplasmosis">Histoplasmosis Disinfection Services</a></li>
        </ul>
    </div>
    <div class="col-lg-1">

    </div>
    <div class="col-lg-6">
        <h3>LISTERIA DISINFECTION SERVICES</h3>
        <hr>
        <p>National Disinfection Services is the leading expert in the disinfection of Listeria. We provide emergency service 
        throughout the nation 24 hours a day, 7 days a week.</p>
        
        <p>Listeriosis is a serious infection usually caused by eating food contaminated with the bacterium Listeria monocytogenes. 
        An estimated 1,600 people get listeriosis each year, and about 260 die. The infection is most likely to sicken pregnant 
        women and their newborns, adults aged 65 or older, and people with weakened immune systems.</p>
        
        <ul>Listeria Symptoms can include:
            <li>Headache</li>
            <li>Stiff neck</li>
            <li>Confusion</li>
            <li>Loss of balance</li>
            <li>Convulsions</li>
            <li>Fever and muscle aches.</li>
        </ul>
        <p>*As mentioned above, pregnant women typically experience only fever and other flu-like symptoms, such as fatigue and 
        muscle aches. However, infections during pregnancy can lead to miscarriage, stillbirth, premature delivery, or 
        life-threatening infection of the newborn.</p>
        
        <p>Listeriosis Transmission – is usually acquired through foodborne transmission, except for fetal and neonatal infection, 
        which is usually acquired in utero. Cutaneous infections have been reported very rarely among veterinarians and farmers 
        following direct animal contact, particularly involving livestock products of conception. Unlike most bacteria, Listeria 
        germs can grow and spread in the refrigerator.</p>
        
        <p>Listeria Disinfection Method should include:</p>
        
        <p>Launder all clothing/bedding/towels with color safe bleach in hot water.
        Surface wipe all areas with Hospital Grade bleach based disinfectant (especially high contact areas).
        Electro Static Spray application of surface protector.
        At National Disinfection Services we want to provide you with the most current information about the Coronavirus 
        COVID-19 pandemic.  Please visit each of our resource pages on Coronaviruses & COVID-19 located at our top 
        menu bar for more information and continuous updates.  To see live tracking of coronavirus cases click Coronavirus 
        COVID-19 Global Tracker Live Updates, for the CDC’s updates visit CDC Response to Coronavirus COVID-19, for videos 
        about coronavirus, including symptoms & how to protect yourself, please go to our page – CDC Coronavirus COVID-19 
        Helpful Videos – where you can watch these informative videos, and for National State specific coronavirus updates 
        please go to National State Coronavirus COVID-19 Information Page.</p>
        
        <p>For a detailed description of each of the Disinfection Services we offer, please refer to our Services pages, 
        which are listed in the top menu on this page. For additional information concerning viruses, bacteria, and 
        infectious diseases, including the coronavirus COVID-19, as well as the symptoms and transmission, please view our 
        Helpful Information page and our page on  Virus or Bacteria.</p>
        
        <p>For our Water, Mold, Fire & Smoke Restoration and Remediation Services, please visit itsenvironmentalservices.com 
            for information on our additional Restoration Services. If you have any questions, please contact us anytime. 
            We are here to help.</p>
    </div>
    <div class="col-lg-1">
    </div>
</div>
<div class="row standards">
    <div class="col-lg-5"></div>
    <div class="col-lg-5">
        <h3>We Follow Strict Standards</h3>
        <hr>
        <p>The cleaning and disinfection of germs, viruses, bacteria, superbugs and any infectious disease should be performed by experienced and 
        trained professionals. National Disinfection Services has a team of highly trained and experienced technicians that understand the risks 
        involved in the cleanup and disinfection of infectious germs, viruses and bacteria such as MRSA, Listeria, Hepatitis A, B & C, HIV, 
        Norovirus, Coronavirus (including COVID-19), Histoplasmosis and other infectious diseases. We have the proper equipment, PPE, 
        disinfectants and training to safely and effectively clean and disinfect areas affected by viral and bacterial contamination. We can provide 
        expert cleaning and disinfection methods in homes, office buildings, any type of transportation vehicle, gymnasiums, schools, medical building 
        and any affected area and environment. Please call us today for a free no-obligation estimate. We will perform a thorough inspection of the 
        affected area, answer any questions and provide a detailed cleaning and disinfection protocol. We are available 24/7. Call National Disinfection Services 
        today at 833-817-6591. We are here to help.</p>
        <h3>Call National Disinfection Services Today</h3>
        <hr>
        <div>
        <img src="/images/thumbs.jpg" /> 
        <p>We Are Leading Experts in Disinfection</p>
        </div>
        <p>National Disinfection Services specializes in the disinfection of germs, viruses, bacteria, superbugs, MRSA, Coronaviruses, Listeria, Hepatitis, Norovirus, Histoplasmosis, C-Diff and other viruses, bacteria and infectious diseases. We are experts in all forms of disinfection and serve Long Island, National, New Jersey and Connecticut. We provide complete emergency disinfection remediation and cleaning services for National, Long Island, Nassau, Suffolk, Brooklyn, Queens, Bronx, Staten Island, Westchester, New Jersey and Connecticut 24 hours a day, 7 days a week. If you are in need of disinfection services, please call us today. We understand the challenges facing our customers when they contact us, and we will do our utmost to assist you every step of the way. We will perform a No-Obligation inspection and provide you with a detailed estimate of the work to be performed. We will assist you in negotiating with your insurance carrier. National Disinfection Services is a fully insured corporation and all of our technicians are trained and certified. National Disinfection Services is here to help.</p>
        <h4>Call National Disinfection Services Today</h4>
       
    </div>
    </div>
    <div class="col-lg-2">
    </div>

</div>
<%- include('partials/footer') %>