<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/covid.css" type="text/css">
<div class="row services">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-2">
        <ul>
            <li><a href="/disinfection">Disinfection Services</a></li>
            <li><a href="/covid">Coronaviruses & COVID-19 Disinfection Services</a></li>
            <li><a href="/virus">Virus Disinfection Services</a></li>
            <li><a href="/bacteria">Bacteria Disinfection Services</a></li>
            <li><a href="/mrsa">MRSA Disinfection Services</a></li>
            <li><a href="/cdiff">C. diff Disinfection Services</a></li>
            <li><a href="/hepatitis">Hepatitis Disinfection Services</a></li>
            <li><a href="/norovirus">Norovirus Disinfection Services</a></li>
            <li><a href="/listeria">Listeria Disinfection Services</a></li>
            <li><a href="/histoplasmosis">Histoplasmosis Disinfection Services</a></li>
        </ul>
    </div>
    <div class="col-lg-1">

    </div>
    <div class="col-lg-6">
        <h3>NOROVIRUS DISINFECTION SERVICES</h3>
        <hr>
        <p>National Disinfection Services is the leading expert in the disinfection of Norovirus. We provide emergency 
        service throughout the nation hours a day, 7 days a week.</p>
        
        <p>Norovirus is a very contagious virus that can infect anyone. You can get it from an infected person, contaminated 
        food or water, or by touching contaminated surfaces. The virus causes your stomach or intestines or both to get 
        inflamed. This leads you to have stomach pain, nausea, and diarrhea and to throw up. These symptoms can be serious 
        for some people, especially young children and older adults.</p>
        
        <ul>Norovirus Symptoms can include:        
            <li>diarrhea</li>
            <li>throwing up</li>
            <li>nausea</li>
            <li>stomach pain</li>
            <li>fever</li>
            <li>headache</li>
            <li>body aches</li>
        </ul>
        <p>Norovirus Transmission – Norovirus is a highly contagious virus. Anyone can get infected with norovirus and get sick. 
        Also, you can get norovirus illness many times in your life. One reason for this is that there are many different 
        types of noroviruses. Being infected with one type of norovirus may not protect you against other types. 
        Norovirus can be found in your stool (feces) even before you start feeling sick. The virus can stay in your 
        stool for 2 weeks or more after you feel better. You can become infected with norovirus by accidentally getting 
        stool or vomit from infected people in your mouth. This usually happens by:</p>
        
        <p>eating food or drinking liquids that are contaminated with norovirus
        touching surfaces or objects contaminated with norovirus then putting your fingers in your mouth
        having contact with someone who is infected with norovirus (for example, caring for or sharing food or eating utensils with someone with norovirus illness)
        Norovirus can spread quickly in closed places like daycare centers, nursing homes, schools, and cruise ships. 
        Most norovirus outbreaks happen from November to April in the United States.</p>
        
        <p>Norovirus Disinfection Methods should include:</p>
        
        <p>After throwing up or having diarrhea, immediately clean and disinfect contaminated surfaces. Use a chlorine bleach 
        solution with a concentration of 1000–5000 ppm (5–25 tablespoons of household bleach [5.25%] per gallon of water) or 
        other disinfectant registered as effective against norovirus by the Environmental Protection Agency (EPA). For more 
        information, see EPA’s Registered Antimicrobial Products Effective Against Norovirus.
        Electro Static Spray Application of Bacti-Barrier Surface Protector
        At National Disinfection Services we want to provide you with the most current information about the Coronavirus COVID-19 
        pandemic.  Please visit each of our resource pages on Coronaviruses & COVID-19 located at our top menu bar for more 
        information and continuous updates.  To see live tracking of coronavirus cases click Coronavirus COVID-19 Global 
        Tracker Live Updates, for the CDC’s updates visit CDC Response to Coronavirus COVID-19, for videos about coronavirus, 
        including symptoms & how to protect yourself, please go to our page – CDC Coronavirus COVID-19 Helpful Videos – 
        where you can watch these informative videos, and for National State specific coronavirus updates please go to National 
        State Coronavirus COVID-19 Information Page.</p>
        
        <p>For a detailed description of each of the Disinfection Services we offer, please refer to our Services pages, which are 
        listed in the top menu on this page. For additional information concerning viruses, bacteria, and infectious diseases, 
        including the coronavirus COVID-19, as well as the symptoms and transmission, please view our Helpful Information page 
        and our page on  Virus or Bacteria.</p>
        
        <p>For our Water, Mold, Fire & Smoke Restoration and Remediation Services, please visit itsenvironmentalservices.com for 
        information on our additional Restoration Services. If you have any questions, please contact us anytime. We are here to 
        help.</p>
    </div>
    <div class="col-lg-1">
    </div>
</div>
<div class="row standards">
    <div class="col-lg-5"></div>
    <div class="col-lg-5">
        <h3>We Follow Strict Standards</h3>
        <hr>
        <p>The cleaning and disinfection of germs, viruses, bacteria, superbugs and any infectious disease should be performed by experienced and 
        trained professionals. National Disinfection Services has a team of highly trained and experienced technicians that understand the risks 
        involved in the cleanup and disinfection of infectious germs, viruses and bacteria such as MRSA, Listeria, Hepatitis A, B & C, HIV, 
        Norovirus, Coronavirus (including COVID-19), Histoplasmosis and other infectious diseases. We have the proper equipment, PPE, 
        disinfectants and training to safely and effectively clean and disinfect areas affected by viral and bacterial contamination. We can provide 
        expert cleaning and disinfection methods in homes, office buildings, any type of transportation vehicle, gymnasiums, schools, medical building 
        and any affected area and environment. Please call us today for a free no-obligation estimate. We will perform a thorough inspection of the 
        affected area, answer any questions and provide a detailed cleaning and disinfection protocol. We are available 24/7. Call National Disinfection Services 
        today at 1-833-6591. We are here to help.</p>
        <h3>Call National Disinfection Services Today</h3>
        <hr>
        <div>
        <img src="/images/thumbs.jpg" /> 
        <p>We Are Leading Experts in Disinfection</p>
        </div>
        <p>National Disinfection Services specializes in the disinfection of germs, viruses, bacteria, superbugs, MRSA, Coronaviruses, Listeria, Hepatitis, Norovirus, Histoplasmosis, C-Diff and other viruses, bacteria and infectious diseases. We are experts in all forms of disinfection and serve Long Island, National, New Jersey and Connecticut. We provide complete emergency disinfection remediation and cleaning services for National, Long Island, Nassau, Suffolk, Brooklyn, Queens, Bronx, Staten Island, Westchester, New Jersey and Connecticut 24 hours a day, 7 days a week. If you are in need of disinfection services, please call us today. We understand the challenges facing our customers when they contact us, and we will do our utmost to assist you every step of the way. We will perform a No-Obligation inspection and provide you with a detailed estimate of the work to be performed. We will assist you in negotiating with your insurance carrier. National Disinfection Services is a fully insured corporation and all of our technicians are trained and certified. National Disinfection Services is here to help.</p>
        <h4>Call National Disinfection Services Today</h4>
       
    </div>
    </div>
    <div class="col-lg-2">
    </div>

</div>
<%- include('partials/footer') %>