<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/covid.css" type="text/css">
<div class="row services">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-2">
        <ul>
            <li><a href="/disinfection">Disinfection Services</a></li>
            <li><a href="/covid">Coronaviruses & COVID-19 Disinfection Services</a></li>
            <li><a href="/virus">Virus Disinfection Services</a></li>
            <li><a href="/bacteria">Bacteria Disinfection Services</a></li>
            <li><a href="/mrsa">MRSA Disinfection Services</a></li>
            <li><a href="/cdiff">C. diff Disinfection Services</a></li>
            <li><a href="/hepatitis">Hepatitis Disinfection Services</a></li>
            <li><a href="/norovirus">Norovirus Disinfection Services</a></li>
            <li><a href="/listeria">Listeria Disinfection Services</a></li>
            <li><a href="/histoplasmosis">Histoplasmosis Disinfection Services</a></li>
        </ul>
    </div>
    <div class="col-lg-1">

    </div>
    <div class="col-lg-6">
        <h3>CORONAVIRUSES AND COVID-19 INFORMATION</h3>
        <hr>
        <p>National Disinfection Services is a leading expert in the disinfection of coronaviruses. We provide emergency 
        service throughout the nation 24 hours a day, 7 days a week.</p>
        
        <p>Coronavirus COVID-19 is an emerging, rapidly evolving situation and we will provide updated information as 
        quickly as possible.</p>
        
        <p>Coronaviruses (CoV) are a large family of viruses that cause illness ranging from the common cold to more 
        severe diseases such as Middle East Respiratory Syndrome (MERS-CoV); and Severe Acute Respiratory Syndrome 
        (SARS-CoV). A novel coronavirus (nCoV) is a new strain that has not been previously identified in humans. 
        The virus has been named “SARS-CoV-2” and the disease it causes has been named “coronavirus disease 2019” 
        (abbreviated “COVID-19”).</p>
        
        <p><b>Genealogy:</b></p>
        <p>Covid-19 (SARS-CoV-2 based virus) is an RNA based enveloped virus. Enveloped viruses contain a lipid membrane 
        on the cell wall which adheres to the host cell in order to proliferate. This being the case, the cell wall is 
        easily penetrable to most common disinfectants. Common EPA approved disinfectant makeup can be Quaternary 
        Ammonium Compounds, Phenolic Based products and some Hydrogen Peroxide based formulas.</p>
        
        <p><b>Transmission of COVID-19:</b></p>
        <p>Coronavirus is most commonly transmitted from person to person, through droplet nuclei spread out from 
        breathing, coughing or sneezing. Droplets can remain suspended in the air for extended periods and are highly 
        respirable. It can also be spread through contact on surfaces. The virus can remain viable on surfaces from 
        several hours up to 9 days depending on ambient conditions, amount of moisture in droplets, etc. 
        The virus is believed to be most contagious in a person when their symptoms are evident. However, it’s 
        possible that they may be contagious before and after visible signs of symptoms. People who no longer test 
        positive for the virus may still be infectious according to some of the research. Information on the 
        transmission of the Coronavirus COVID-19 is being updated as doctors learn more about the virus and how it 
        spreads. We will continue to provide the most up to date information as quickly as possible.</p>
        
        <p><b>Symptoms of COVID-19:</b></p>
        <p>For confirmed coronavirus disease 2019 (COVID-19) cases, reported illnesses have ranged from mild symptoms to 
        severe illness and death.</p> 
        <ul><b>Symptoms can include:</b>
            <li>Fever</li>
            <li>Cough</li>
            <li>Shortness of breath</li>
            <li>The CDC believes at this time that symptoms of COVID-19 may appear in as few as 2 days or as long as 14 days 
            after exposure. This is based on what has been seen previously as the incubation period of MERS-CoV viruses.</li>
        </ul>
        <ul><b>Eradication Method:</b>
            <li>Step 1: Ultra Low Volume (ULV) misting or electrostatic spray of certain affected areas with EPA approved 
            hospital grade disinfectant. This mist will eradicate any aerosolized particles allowing for a safer entry 
            of decontamination personnel. Misting is calculated on cubic footage of the affected area.</li>
            
            <li>Step 2: Electrostatic spray application of EPA Approved Hospital Grade disinfectant. Positively charged 
            ions are produced within the chemical which adhere to surfaces in the affected area. This ensures total 
            coverage of the affected area for wiping and disruption of any biofilm.</li>
            
            <li>Step 3: After a 10 minute dwell time surface wiping of critical contact areas begins. Fixtures, keyboards, 
            phones, door handles, certain contents within the affected area are hand wiped. A 10 minute dwell time should 
            be allowed post wipe down by any cleaning service following.</li>
            
            <li>Step 4: Client should contact their regular cleaning company to address and clean any residual disinfectant.</li>
        </ul>
        <p><b>Personal Protective Equipment PPE:</b></p>
        <p>Technicians are required to don full Level “C” personal protective equipment during the decontamination of 
        contaminated zone procedure in areas where cases have been confirmed. Splash resistant coveralls, shoe covers, 
        double gloves, full face Air Purifying Respirator (APR) or Powered Air Purifying Respirator (PAPR). Coveralls 
        should be decontaminated with electrostatic spray prior to doffing and disposal. Level “D” PPE is sufficient in 
        unaffected/pre-emptive disinfection projects & for final surface wipe of contaminated zone areas.</p>
        
        <p>The CDC advises that the following precautions are taken to lessen the risk of contracting COVID-19:</p>
        
        <p><b>Prevention:</b></p>
        
        <p>There is currently no vaccine to prevent coronavirus disease 2019 (COVID-19). The best way to prevent illness 
        is to avoid being exposed to this virus. However, as a reminder, CDC always recommends everyday preventive 
        actions to help prevent the spread of respiratory diseases, including:</p>
        <ul>
            <li>Avoid close contact with people who are sick.</li>
            <li>Avoid touching your eyes, nose, and mouth.</li>
            <li>Stay home when you are sick.</li>
            <li>Cover your cough or sneeze with a tissue, then throw the tissue in the trash.</li>
            <li>Clean and disinfect frequently touched objects and surfaces using a regular household cleaning spray or wipe.</li>
            <li>Follow CDC’s recommendations for using a facemask.</li>
            <li>CDC does not recommend that people who are well wear a facemask to protect themselves from respiratory 
            diseases, including COVID-19.</li>
            <li>Facemasks should be used by people who show symptoms of COVID-19 to help prevent the spread of the disease 
            to others. The use of facemasks is also crucial for health workers and people who are taking care of someone 
            in close settings (at home or in a health care facility).</li>
            <li>Wash your hands often with soap and water for at least 20 seconds, especially after going to the bathroom; 
            before eating; and after blowing your nose, coughing, or sneezing.</li>
            <li>If soap and water are not readily available, use an alcohol-based hand sanitizer with at least 60% alcohol.</li> 
            <li>Always wash hands with soap and water if hands are visibly dirty.</li>
            <li>The Coronavirus COVID-19 is an emerging disease and information is being updated as doctors and researches 
            learn more about the virus. We will continue to provide the most up to date information as quickly as possible.</li>
        </ul>
        <p>The following information from the CDC is provided to help increase public awareness of the novel coronavirus. 
        We will update this information as quickly as possible when it becomes available.</p>
        
        <p><b>Situation in U.S.:</b></p>
        
        <p>Imported cases of COVID-19 in travelers have been detected in the U.S.
        Person-to-person spread of COVID-19 was first reported among close contacts of returned travelers from Wuhan.
        During the week of February 23, CDC reported community spread of the virus that causes COVID-19 in California 
        (in two places), Oregon and Washington. Community spread in Washington resulted in the first death in the United 
        States from COVID-19, as well as the first reported case of COVID-19 in a health care worker, and the first 
        potential outbreak in a long-term care facility.</p>
        
        <p><b>Illness Severity:</b></p>
        
        <p>Both MERS-CoV and SARS-CoV have been known to cause severe illness in people. The complete clinical picture 
        with regard to COVID-19 is not fully understood. Reported illnesses have ranged from mild to severe, including 
        illness resulting in death. While information so far suggests that most COVID-19 illness is mild, a 
        reportexternal icon out of China suggests serious illness occurs in 16% of cases. Older people and people 
        with certain underlying health conditions like heart disease, lung disease and diabetes, for example, 
        seem to be at greater risk of serious illness.</p>
        
        <p><b>Risk Assessment:</b></p>
        
        <p>Outbreaks of novel virus infections among people are always of public health concern. The risk from these 
        outbreaks depends on characteristics of the virus, including how well it spreads between people, the severity 
        of resulting illness, and the medical or other measures available to control the impact of the virus 
        (for example, vaccine or treatment medications). The fact that this disease has caused illness, including 
        illness resulting in death, and sustained person-to-person spread is concerning. These factors meet two of the 
        criteria of a pandemic. As community spread is detected in more and more countries, the world moves closer 
        toward meeting the third criteria, worldwide spread of the new virus.</p>
        
        <p>Reported community spread of COVID-19 in parts of the United States raises the level of concern about the 
        immediate threat for COVID-19 for those communities. The potential public health threat posed by COVID-19 
        is very high, to the United States and globally.</p>
        
        <p>At this time, however, most people in the United States will have little immediate risk of exposure to this 
        virus. This virus is NOT currently spreading widely in the United States. However, it is important to note 
        that current global circumstances suggest it is likely that this virus will cause a pandemic. This is a 
        rapidly evolving situation and the risk assessment will be updated as needed.</p>
        
        <p><b>Current risk assessment:</b></p>
        
        <p>For most of the American public, who are unlikely to be exposed to this virus at this time, the immediate 
        health risk from COVID-19 is considered low.
        People in communities where ongoing community spread with the virus that causes COVID-19 has been 
        reported are at elevated, though still relatively low risk of exposure.
        Healthcare workers caring for patients with COVID-19 are at elevated risk of exposure.
        Close contacts of persons with COVID-19 also are at elevated risk of exposure.
        Travelers returning from affected international locations where community spread is occurring also are 
        at elevated risk of exposure.</p>
        
        <p>CDC has developed guidance to help in the risk assessment and management of people with potential exposures 
        to COVID-19.</p>
        
        <p><b>What May Happen:</b></p>
        
        <p>More cases of COVID-19 are likely to be identified in the coming days, including more cases in the United 
        States. It’s also likely that person-to-person spread will continue to occur, including in communities in 
        the United States. It’s likely that at some point, widespread transmission of COVID-19 in the United States 
        will occur.</p>
        
        <p>Widespread transmission of COVID-19 would translate into large numbers of people needing medical care at the 
        same time. Schools, childcare centers, workplaces, and other places for mass gatherings may experience more 
        absenteeism. Public health and healthcare systems may become overloaded, with elevated rates of hospitalizations
        and deaths. Other critical infrastructure, such as law enforcement, emergency medical services, and 
        transportation industry may also be affected. Health care providers and hospitals may be overwhelmed. 
        At this time, there is no vaccine to protect against COVID-19 and no medications approved to treat it.
        Nonpharmaceutical interventions would be the most important response strategy.</p>
        
        <p><b>CDC Response:</b></p>
        
        <p>Global efforts at this time are focused concurrently on containing the spread and mitigating the impact of 
        this virus. The federal government is working closely with state, local, tribal, and territorial partners, 
        as well as public health partners, to respond to this public health threat. The public health response is 
        multi-layered, with the goal of detecting and minimizing introductions of this virus in the United States. 
        CDC is operationalizing all of its pandemic preparedness and response plans, working on multiple fronts to 
        meet these goals, including specific measures to prepare communities to respond to local transmission of the 
        virus that causes COVID-19. There is an abundance of pandemic guidance developed in anticipation of an 
        influenza pandemic that is being repurposed and adapted for a COVID-19 pandemic.</p>
        
        <p>At National Disinfection Services we want to provide you with the most current information about the Coronavirus 
        COVID-19 pandemic.  Please visit each of our resource pages on Coronaviruses & COVID-19 located at our top menu 
        bar for more information and continuous updates.  To see live tracking of coronavirus cases click Coronavirus 
        COVID-19 Global Tracker Live Updates, for the CDC’s updates visit CDC Response to Coronavirus COVID-19, for 
        videos about coronavirus, including symptoms & how to protect yourself, please go to our page – CDC Coronavirus 
        COVID-19 Helpful Videos – where you can watch these informative videos, and for National State specific 
        coronavirus updates please go to National State Coronavirus COVID-19 Information Page.</p>
        
        <p>For a detailed description of each of the Disinfection Services we offer, please refer to our Services pages, 
        which are listed in the top menu on this page. For additional information concerning viruses, bacteria, and 
        infectious diseases, including the coronavirus COVID-19, as well as the symptoms and transmission, please 
        view our Helpful Information page and our page on  Virus or Bacteria.</p>
        
        <p>For our Water, Mold, Fire & Smoke Restoration and Remediation Services, please visit itsenvironmentalservices.com 
        for information on our additional Restoration Services. If you have any questions, please contact us anytime. 
        We are here to help.</p>
        
    </div>
    <div class="col-lg-1">
    </div>
</div>
<div class="row standards">
    <div class="col-lg-5"></div>
    <div class="col-lg-5">
        <h3>We Follow Strict Standards</h3>
        <hr>
        <p>The cleaning and disinfection of germs, viruses, bacteria, superbugs and any infectious disease should be performed by experienced and 
        trained professionals. National Disinfection Services has a team of highly trained and experienced technicians that understand the risks 
        involved in the cleanup and disinfection of infectious germs, viruses and bacteria such as MRSA, Listeria, Hepatitis A, B & C, HIV, 
        Norovirus, Coronavirus (including COVID-19), Histoplasmosis and other infectious diseases. We have the proper equipment, PPE, 
        disinfectants and training to safely and effectively clean and disinfect areas affected by viral and bacterial contamination. We can provide 
        expert cleaning and disinfection methods in homes, office buildings, any type of transportation vehicle, gymnasiums, schools, medical building 
        and any affected area and environment. Please call us today for a free no-obligation estimate. We will perform a thorough inspection of the 
        affected area, answer any questions and provide a detailed cleaning and disinfection protocol. We are available 24/7. Call National Disinfection Services 
        today at 1-833-6591. We are here to help.</p>
        <h3>Call National Disinfection Services Today</h3>
        <hr>
        <div>
        <img src="/images/thumbs.jpg" /> 
        <p>We Are Leading Experts in Disinfection</p>
        </div>
        <p>National Disinfection Services specializes in the disinfection of germs, viruses, bacteria, superbugs, MRSA, Coronaviruses, Listeria, Hepatitis, Norovirus, Histoplasmosis, C-Diff and other viruses, bacteria and infectious diseases. We are experts in all forms of disinfection and serve Long Island, National, New Jersey and Connecticut. We provide complete emergency disinfection remediation and cleaning services for National, Long Island, Nassau, Suffolk, Brooklyn, Queens, Bronx, Staten Island, Westchester, New Jersey and Connecticut 24 hours a day, 7 days a week. If you are in need of disinfection services, please call us today. We understand the challenges facing our customers when they contact us, and we will do our utmost to assist you every step of the way. We will perform a No-Obligation inspection and provide you with a detailed estimate of the work to be performed. We will assist you in negotiating with your insurance carrier. National Disinfection Services is a fully insured corporation and all of our technicians are trained and certified. National Disinfection Services is here to help.</p>
        <h4>Call National Disinfection Services Today</h4>
       
    </div>
    </div>
    <div class="col-lg-2">
    </div>

</div>
<%- include('partials/footer') %>