<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/services.css" type="text/css">
<div class="row services">
    <div class="col-lg-12 text-center">
        <h2>Our Services</h2>
        <hr>
    </div>
    <div class="col-lg-2">
    </div>
    <div class="col-lg-2">
        <ul>
            <li><a href="/disinfection">Disinfection Services</a></li>
            <li><a href="/covid">Coronaviruses & COVID-19 Disinfection Services</a></li>
            <li><a href="/virus">Virus Disinfection Services</a></li>
            <li><a href="/bacteria">Bacteria Disinfection Services</a></li>
            <li><a href="/mrsa">MRSA Disinfection Services</a></li>
            <li><a href="/cdiff">C. diff Disinfection Services</a></li>
            <li><a href="/hepatitis">Hepatitis Disinfection Services</a></li>
            <li><a href="/norovirus">Norovirus Disinfection Services</a></li>
            <li><a href="/listeria">Listeria Disinfection Services</a></li>
            <li><a href="/histoplasmosis">Histoplasmosis Disinfection Services</a></li>
        </ul>
    </div>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-3 text-center">
        <div data-aos="fade-up" data-aos-duration="3000">
          <a href="#"><img src="/images/mask.png" /> </a>
          <h4>Disinfection Services</h4>
          <hr />
          <p>The cleaning and disinfection of germs, viruses, bacteria, superbugs and any infectious disease should be</p> 
        </div>
        <div data-aos="fade-up" data-aos-duration="3000"> 
          <a href="#"><img src="/images/virus-cell.jpg" /> </a>
          <h4>Coronaviruses & COVID-19 Disinfection Services</h4>
          <hr />
          <p>National Disinfection Services is a leading expert in the disinfection of coronaviruses. We provide</p>
        </div>
        <div data-aos="fade-up" data-aos-duration="3000">
          <a href="#"><img src="/images/virus-cells-2.jpg" /> </a>
          <h4>Virus Disinfection Services</h4>
          <hr />
          <p>National Disinfection Services is the leading expert in the disinfection of viruses. We provide</p>
        </div>
        <div data-aos="fade-up" data-aos-duration="3000">
          <a href="#"><img src="/images/bacteria-cell.jpg" /> </a>
          <h4>Disinfection Services</h4>
          <hr />
          <p>The cleaning and disinfection of germs, viruses, bacteria, superbugs and any infectious disease should be</p>
        </div>
    </div>
    <div class="col-lg-3 text-center">
        <div data-aos="fade-up" data-aos-duration="3000">
          <a href="#"><img src="/images/mrsa-cells.jpg" /> </a>
          <h4>Coronaviruses & COVID-19 Disinfection Services</h4>
          <hr />
          <p>National Disinfection Services is a leading expert in the disinfection of coronaviruses. We provide</p>
        </div>
        <div data-aos="fade-up" data-aos-duration="3000">
          <a href="#"><img src="/images/cdiff-cells.jpg" /> </a>
          <h4>Virus Disinfection Services</h4>
          <hr />
          <p>National Disinfection Services is the leading expert in the disinfection of viruses. We provide</p>
        </div>
        <div data-aos="fade-up" data-aos-duration="3000">
          <a href="#"><img src="/images/hepatitis-cells.jpg" /> </a>
          <h4>Disinfection Services</h4>
          <hr />
          <p>The cleaning and disinfection of germs, viruses, bacteria, superbugs and any infectious disease should be</p>
        </div>
        <div data-aos="fade-up" data-aos-duration="3000">
          <a href="#"><img src="/images/norovirus-cells.jpg" /> </a>
          <h4>Coronaviruses & COVID-19 Disinfection Services</h4>
          <hr />
          <p>National Disinfection Services is a leading expert in the disinfection of coronaviruses. We provide</p>
        </div>
        <div data-aos="fade-up" data-aos-duration="3000">
          <a href="#"><img src="/images/listeria-cells.jpeg" /> </a>
          <h4>Virus Disinfection Services</h4>
          <hr />
          <p>National Disinfection Services is the leading expert in the disinfection of viruses. We provide</p>
        </div>
        <div data-aos="fade-up" data-aos-duration="3000">
          <a href="#"><img src="/images/histoplasmosis-cells.jpg" /> </a>
          <h4>Disinfection Services</h4>
          <hr />
          <p>The cleaning and disinfection of germs, viruses, bacteria, superbugs and any infectious disease should be</p>
        </div>
    </div>
    <div class="col-lg-1">

    </div>
</div>
<%- include('partials/footer') %>