<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/covid.css" type="text/css">
<div class="row services">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-2">
        <ul>
            <li><a href="/disinfection">Disinfection Services</a></li>
            <li><a href="/covid">Coronaviruses & COVID-19 Disinfection Services</a></li>
            <li><a href="/virus">Virus Disinfection Services</a></li>
            <li><a href="/bacteria">Bacteria Disinfection Services</a></li>
            <li><a href="/mrsa">MRSA Disinfection Services</a></li>
            <li><a href="/cdiff">C. diff Disinfection Services</a></li>
            <li><a href="/hepatitis">Hepatitis Disinfection Services</a></li>
            <li><a href="/norovirus">Norovirus Disinfection Services</a></li>
            <li><a href="/listeria">Listeria Disinfection Services</a></li>
            <li><a href="/histoplasmosis">Histoplasmosis Disinfection Services</a></li>
        </ul>
    </div>
    <div class="col-lg-1">

    </div>
    <div class="col-lg-6">
        <h3>CDC CORONAVIRUS COVID-19 HELPFUL VIDEOS</h3>
        <hr>
        <p>The Coronavirus COVID-19 is an emerging disease and information is being updated as doctors and researchers learn more 
            about the virus. National Disinfection Services will continue to provide the most up to date information as quickly as 
            possible. The videos below from the CDC provide helpful information about how the coronavirus spreads, symptoms, preventative
            steps that you can take, risk factors also presented in ASL, how to provide self-care at home and 20 questions about COVID-19 
            answered:
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WfJSVbQtHsk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/oGruT7Fd54E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9Ay4u7OYOhA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/EYfm0fNz7TQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wkaMC2Fipgg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/d914EnpU4Fo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/qPoptbtBjkg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fcdcemergency%2Fvideos%2F706964620110084%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
        <p>The cleaning and disinfection of germs, viruses, bacteria, superbugs and any infectious disease should be performed by experienced and 
            trained professionals. National Disinfection Services has a team of highly trained and experienced technicians that understand the 
            risks involved in the cleanup and disinfection of infectious germs, viruses and bacteria such as MRSA, Listeria, Hepatitis A, B & C, HIV, 
            Norovirus, Coronavirus (including COVID-19), Histoplasmosis and other infectious diseases. We have the proper equipment, PPE, disinfectants 
            and training to safely and effectively clean and disinfect areas affected by viral and bacterial contamination. We can provide expert 
            cleaning and disinfection methods in homes, office buildings, any type of transportation vehicle, gymnasiums, schools, medical building 
            and any affected area and environment. Please call us today for a free no-obligation estimate. We will perform a thorough inspection of 
            the affected area, answer any questions and provide a detailed cleaning and disinfection protocol. We are available 24/7. Call National 
            Disinfection Services today at <a href="tel:833-817-6591">833-817-6591</a>. We are here to help.
            At National Disinfection Services we want to provide you with the most current information about the Coronavirus COVID-19 pandemic. 
            Please visit each of our resource pages on Coronaviruses & COVID-19 located at our top menu bar for more information and continuous 
            updates.  To see live tracking of coronavirus cases click Coronavirus COVID-19 Global Tracker Live Updates, for the CDC’s updates 
            visit CDC Response to Coronavirus COVID-19, for videos about coronavirus, including symptoms & how to protect yourself, please go to 
            our page – CDC Coronavirus COVID-19 Helpful Videos – where you can watch these informative videos, and for National State specific 
            coronavirus updates please go to National State Coronavirus COVID-19 Information Page.
            For a detailed description of each of the Disinfection Services we offer, please refer to our Services pages, which are listed in the top 
            menu on this page. For additional information concerning viruses, bacteria, and infectious diseases, including the coronavirus COVID-19, 
            as well as the symptoms and transmission, please view our Helpful Information page and our page on Virus or Bacteria.
            </p>
            <h3>Call National Disinfection Services Today</h3>
            <hr>
            <p>National Disinfection Services is a fully insured corporation, and all of our technicians are highly trained, experienced and certified. 
                Serving all of the nation, National Disinfection Services provides specialized disinfection 
                remediation cleaning services. Call us today <a href="tel:833-817-6591">833-817-6591</a>, we are here to help.</p>
    </div>
    <div class="col-lg-1">
    </div>
</div>
<%- include('partials/footer') %>