<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/covid.css" type="text/css">
<div class="row services">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-2">
        <ul>
            <li><a href="/disinfection">Disinfection Services</a></li>
            <li><a href="/covid">Coronaviruses & COVID-19 Disinfection Services</a></li>
            <li><a href="/virus">Virus Disinfection Services</a></li>
            <li><a href="/bacteria">Bacteria Disinfection Services</a></li>
            <li><a href="/mrsa">MRSA Disinfection Services</a></li>
            <li><a href="/cdiff">C. diff Disinfection Services</a></li>
            <li><a href="/hepatitis">Hepatitis Disinfection Services</a></li>
            <li><a href="/norovirus">Norovirus Disinfection Services</a></li>
            <li><a href="/listeria">Listeria Disinfection Services</a></li>
            <li><a href="/histoplasmosis">Histoplasmosis Disinfection Services</a></li>
        </ul>
    </div>
    <div class="col-lg-1">

    </div>
    <div class="col-lg-6">
        <h3>VIRUS OR BACTERIA</h3>
        <hr>
        <p>Viruses are small infectious organism—much smaller than a fungus or bacterium—that must invade a living cell to reproduce (replicate). 
        The virus attaches to a cell (called the host cell), enters it, and releases its DNA or RNA inside the cell. The virus’s DNA or RNA is 
        the genetic material containing the information needed to make copies of (replicate) the virus. The virus’s genetic material takes control 
        of the cell and forces it to replicate the virus. The infected cell usually dies because the virus keeps it from performing its normal 
        functions. When it dies, the cell releases new viruses, which go on to infect other cells.</p>
        
        <p>Bacteria are microscopic, single-celled organisms. There are thousands of different kinds, and they live in every conceivable environment
        all over the world. They live in soil, seawater, and deep within the earth’s crust. Some bacteria have been reported even to live in 
        radioactive waste. Many bacteria live in the bodies of people and animals—on the skin and in the airways, mouth, and digestive, 
        reproductive, and urinary tracts—without causing any harm. Such bacteria are called resident flora, or the microbiome. Many resident 
        flora are actually helpful to people—for example by helping them digest food or by preventing the growth of other, more dangerous bacteria.
         •Only a few kinds of bacteria cause disease. They are called pathogens. Sometimes bacteria that normally reside harmlessly in the body cause 
         disease. Bacteria can cause disease by producing harmful substances (toxins), invading tissues, or doing both.</p>
        
        <p>The symptoms of a viral infection and bacterial infection can be similar.  They can each cause similar symptoms such as fever, coughing, 
        vomiting, diarrhea, fatigue, and cramping.  Bacteria and viruses are both microbes, however,  they are different types of organisms that 
        cause diseases in the body to manifest in different ways. Viruses are not complete cells, they need a living host, such as a person, animal 
        or plant, to survive. Much smaller than bacteria, viruses invade cells inside a host to reproduce. Most viruses will cause illness. 
        Bacteria, on the other hand, are usually single-celled organisms that can survive on their own. Most bacteria are harmless, and some 
        types are beneficial, such as the bacteria in the gut that helps us to digest food. Other strains of bacteria can cause serious illness.</p>
        
        <p>Viral illnesses are contagious and can be transmitted through coughs, sneezes and other bodily fluids. The common cold, flu (influenza), 
        chicken pox, measles, AIDS, hepatitis A & B, rabies, and shingles are examples of viral infections. Viral infections are generally more 
        difficult to treat than bacterial infections because the virus “hides” inside normal, living cells protecting them from treatment with 
        antibiotics.</p>
        
        <p>Bacterial infections occur when harmful bacteria enter the body. Often this happens because the organism takes advantage of a situation, 
        such as a break in the skin or a compromised immune system. This is called an “opportunistic” infection. A bacterial infection usually 
        stays within one area of the body, meaning it is a localized infection.  A sinus infection displays localized symptoms of a bacterial 
        infection including congestion, sinus pressure and thick, greenish-yellowish nasal discharge.  Some bacterial infections are contagious, 
        but many common bacterial infections are not. These include ear, sinus, bladder, or kidney infections.</p>
        
        <p>Treatment of viral and bacterial infections differ.  Viral infections generally must run their course, with treatment aimed at easing 
        symptoms and providing some relief while.  At times, antiviral medications are prescribed for specific infections, such as flu 
        (influenza) and shingles.  Bacterial infections can be treated with antibiotics. Antibiotics either kill bacteria, or interrupt their 
        ability to multiply.  It is important to only take antibiotics for bacterial infections and to follow a healthcare provider’s instructions 
        carefully.  Vaccines may also be used to prevent bacterial infections. Vaccines have been developed for bacterial infections including 
        diphtheria, tetanus, whooping cough, meningococcal meningitis, pneumococcal pneumonia, and typhoid fever.</p>
        
        <p>At New York Disinfection Services we want to provide you with the most current information about the Coronavirus COVID-19 pandemic. 
        Please visit each of our resource pages on Coronaviruses & COVID-19 located at our top menu bar for more information and continuous updates. 
        To see live tracking of coronavirus cases click Coronavirus COVID-19 Global Tracker Live Updates, for the CDC’s updates visit CDC Response to 
        Coronavirus COVID-19, for videos about coronavirus, including symptoms & how to protect yourself, please go to our page – CDC Coronavirus 
        COVID-19 Helpful Videos – where you can watch these informative videos, and for New York State specific coronavirus updates please go to 
        New York State Coronavirus COVID-19 Information Page.</p>
        
        <p>For a detailed description of each of the Disinfection Services we offer, please refer to our Services pages, which are listed in the top 
        menu on this page. For additional information concerning viruses, bacteria, and infectious diseases, including the coronavirus COVID-19, 
        as well as the symptoms and transmission, please view our Helpful Information page and our page on  Virus or Bacteria.</p>
        
        <p>For our Water, Mold, Fire & Smoke Restoration and Remediation Services, please visit itsenvironmentalservices.com for information on our 
        additional Restoration Services. If you have any questions, please contact us anytime. We are here to help.</p>
        
        
    </div>
    <div class="col-lg-1">
    </div>
</div>
<div class="row standards">
    <div class="col-lg-5"></div>
    <div class="col-lg-5">
        <h3>We Follow Strict Standards</h3>
        <hr>
        <p>The cleaning and disinfection of germs, viruses, bacteria, superbugs and any infectious disease should be performed by experienced and 
        trained professionals. National Disinfection Services has a team of highly trained and experienced technicians that understand the risks 
        involved in the cleanup and disinfection of infectious germs, viruses and bacteria such as MRSA, Listeria, Hepatitis A, B & C, HIV, 
        Norovirus, Coronavirus (including COVID-19), Histoplasmosis and other infectious diseases. We have the proper equipment, PPE, 
        disinfectants and training to safely and effectively clean and disinfect areas affected by viral and bacterial contamination. We can provide 
        expert cleaning and disinfection methods in homes, office buildings, any type of transportation vehicle, gymnasiums, schools, medical building 
        and any affected area and environment. Please call us today for a free no-obligation estimate. We will perform a thorough inspection of the 
        affected area, answer any questions and provide a detailed cleaning and disinfection protocol. We are available 24/7. Call National Disinfection Services 
        today at 1-833-6591. We are here to help.</p>
        <h3>Call National Disinfection Services Today</h3>
        <hr>
        <div>
        <img src="/images/mask.png" /> 
        <p>We Are Leading Experts in Disinfection</p>
        </div>
        <p>National Disinfection Services specializes in the disinfection of germs, viruses, bacteria, superbugs, MRSA, Coronaviruses, Listeria, Hepatitis, Norovirus, Histoplasmosis, C-Diff and other viruses, bacteria and infectious diseases. We are experts in all forms of disinfection and serve Long Island, National, New Jersey and Connecticut. We provide complete emergency disinfection remediation and cleaning services for National, Long Island, Nassau, Suffolk, Brooklyn, Queens, Bronx, Staten Island, Westchester, New Jersey and Connecticut 24 hours a day, 7 days a week. If you are in need of disinfection services, please call us today. We understand the challenges facing our customers when they contact us, and we will do our utmost to assist you every step of the way. We will perform a No-Obligation inspection and provide you with a detailed estimate of the work to be performed. We will assist you in negotiating with your insurance carrier. National Disinfection Services is a fully insured corporation and all of our technicians are trained and certified. National Disinfection Services is here to help.</p>
        <h4>Call National Disinfection Services Today</h4>
       
    </div>
    </div>
    <div class="col-lg-2">
    </div>

</div>
<%- include('partials/footer') %>