.row:nth-child(4) {
    padding-top: 100px;
    padding-bottom: 110px;
}

hr {
    width: 14%;
}

.form-control {
    height: 50px;
    width: 80%;
}

#myform button {
    margin-top: 50px;
    margin-bottom: 50px;
}