.quote {
    background-color: rgb(139, 0, 0);
    height: 170px;
}

.quote h3 {
    margin-left: 40px;
    display: inline-block;
    white-space: nowrap;
    padding-top: 45px;
    color: white;
}
.quote button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}


.quote h3 a {
    color: white;
    margin-left: 10px;
    margin-top: 5px;
}
.quote a {
    color: rgb(46, 53, 60)
}

.quote h3 a:hover {
    color: rgb(46, 53, 60);
}

.quote button:hover {
    background-color: rgb(139, 0, 0);
    border: white 1px solid;
}
.quote button:hover a {
    color: white;
}

.quote a:hover {
    text-decoration: none;
    color: white;
}

.quote form {
    padding-top: 59px;
}

.indexDesc p {
    text-indent: 57px;
    padding-top: 23px;
}

.indexIndustries {
    padding-top: 100px;
}

.indexIndustries img {
    width: 400px;
    height: 250px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

.residential {
    height: 200px;
}

.indexIndustries ul {
    font-size: 20px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 50px;
}

.indexIndustries .col-lg-12  {
    padding-bottom: 100px;
}
.indexIndustries h3  {
    font-weight: 700;
    font-size: 30px;
    color:rgb(168, 168, 168);
    padding-bottom: 50px;
}

.indexIndustries form {
    text-align: center;
    margin-top: 34px;
}

.indexIndustries button {
    background-color: rgb(139, 0, 0);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    border: solid 1px rgb(139, 0, 0);
}

.indexIndustries button a {
    color: white;
    font-size: 15px;
}

.indexIndustries button:hover {
    background-color: white;
    color: rgb(139, 0, 0);
    border: solid 1px rgb(139, 0, 0);

}
.indexIndustries button:hover a {
    color: rgb(139, 0, 0);
    text-decoration: none;
}


.indexIndustries .col-lg-4 ul {
    margin-left: 92px;
}
.indexIndustries li {
    font-weight: 200;
}

.indexAbout {
    padding-top: 100px;
    padding-bottom: 50px;
}
.indexAbout h2 {
    font-weight: 700;
    font-size: 40px;
}
.indexAbout hr {
    width: 4%;
}

.indexDesc {
    color: rgb(168, 168, 168);
}

.services {
    padding-top: 100px;
}

.services hr {
    width: 4%;
}

.indexImages {
    padding-top: 100px;
}
.indexImages hr {
    width: 10%;
}
.indexImages p {
    color: rgb(168, 168, 168);
    font-size: 15px;
}

.indexImages div:nth-child(2){
    position: relative;
    padding: 0;
}
.indexImages div:nth-child(2) img {
    width: 100%;
}
.indexImages div:nth-child(2) img:hover {
    opacity: .5;
}
.indexImages div:nth-child(4){
    position: relative;
    padding: 0;
}
.indexImages div:nth-child(4) img {
    width: 100%;
}
.indexImages div:nth-child(4) img:hover {
    opacity: .5;
}
.indexImages div:nth-child(6){
    position: relative;
    padding: 0;
}
.indexImages div:nth-child(6) img {
    width: 100%;
}
.indexImages div:nth-child(6) img:hover {
    opacity: .5;
}

.architecture {
    background-image: url('../images/cleaning.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 200px;
    background-position: center;
    filter:grayscale(80%);
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: scroll;
}

  

.architecture .col-lg-12 {
    padding-bottom: 39px;
    padding-top: 70px;
}
.architecture .col-lg-3 {
    height: 206px;
}
.architecture .col-lg-2 {
    margin-right: 62px;
    padding: 0;
}

.architecture h3 {
    color: rgb(46, 53, 60);
    font-weight: 700;
}
.architecture h4 {
    color: rgb(46, 53, 60);
    font-weight: 700;
}
.architecture p {
    color: rgb(46, 53, 60);
    font-weight: 700;
}
.architecture hr {
    width: 4%;
    border: solid .5px rgb(46, 53, 60);
}

@media only screen and (max-device-width: 375px) {
        .quote h3 {
            margin-left: 50px;
            display: inline-block;
            white-space: normal;
            padding-top: 45px;
            color: white;
            text-indent: 14px;
        }

        .indexDesc p {
            text-indent: 0;
            padding-top: 23px;
        }

        .indexIndustries ul {
            font-size: 20px;
            font-weight: 700;
            padding-top: 50px;
            padding-bottom: 50px;
            padding-left: 28px;
        }

        .indexIndustries .col-lg-4 ul {
            margin-left: 0;
        }

        .indexIndustries img {
            width: 400px;
            height: 250px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-left: -41px;
        }

        .architecture {
            background-position-y: 14px;
        }
        .architecture .col-lg-3 {
            height: 0px;
        }
        .architecture h4 {
            text-align: center;
            margin-left: 75px;
            padding-bottom: 20px;
        }

        .architecture p {
            text-align: center;
            margin-left: 83px;
            padding-bottom: 32px;
        }
  }

  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    
    .quote h3 {
        margin-left: 139px;
    }
    
    .quote form {
        padding-top: 4px;
    }

    .indexIndustries .col-lg-3 ul {
        margin-left: 261px;
    }

    .indexIndustries .col-lg-4 ul {
        margin-left: 261px;
    }

    .architecture {
        background-position-y: 14px;
    }

    .architecture .col-lg-3 {
        height: 0px;
    }

    .architecture h4 {
        text-align: center;
        margin-left: 64px;
        padding-bottom: 30px;
    }

    .architecture p {
        text-align: center;
        margin-left: 83px;
        padding-bottom: 32px;
    }

  }



  /* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {

    .quote h3 {
        margin-left: 50px;
        display: inline-block;
        white-space: normal;
        padding-top: 45px;
        color: white;
        text-indent: 14px;
    }

    .indexDesc p {
        text-indent: 0;
        padding-top: 23px;
    }

    .indexIndustries ul {
        font-size: 20px;
        font-weight: 700;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 28px;
    }

    .indexIndustries .col-lg-4 ul {
        margin-left: 0;
    }

    .indexIndustries img {
        width: 400px;
        height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-left: -41px;
    }

    .architecture {
        background-position-y: 14px;
    }
    .architecture .col-lg-3 {
        height: 0px;
    }
    .architecture h4 {
        text-align: center;
        margin-left: 75px;
        padding-bottom: 20px;
    }

    .architecture p {
        text-align: center;
        margin-left: 83px;
        padding-bottom: 32px;
    }
}

/* Portrait */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .quote h3 {
        margin-left: 50px;
        display: inline-block;
        white-space: normal;
        padding-top: 45px;
        color: white;
        text-indent: 14px;
    }

    .indexDesc p {
        text-indent: 0;
        padding-top: 23px;
    }

    .indexIndustries ul {
        font-size: 20px;
        font-weight: 700;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 28px;
    }

    .indexIndustries .col-lg-4 ul {
        margin-left: 0;
    }

    .indexIndustries img {
        width: 400px;
        height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-left: -41px;
    }

    .architecture {
        background-position-y: 14px;
    }
    .architecture .col-lg-3 {
        height: 0px;
    }
    .architecture h4 {
        text-align: center;
        margin-left: 75px;
        padding-bottom: 20px;
    }

    .architecture p {
        text-align: center;
        margin-left: 83px;
        padding-bottom: 32px;
    }
}

/* Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .quote h3 {
        margin-left: 50px;
        display: inline-block;
        white-space: normal;
        padding-top: 45px;
        color: white;
        text-indent: 14px;
    }

    .indexDesc p {
        text-indent: 0;
        padding-top: 23px;
    }

    .indexIndustries ul {
        font-size: 20px;
        font-weight: 700;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 28px;
    }

    .indexIndustries .col-lg-4 ul {
        margin-left: 0;
    }

    .indexIndustries img {
        width: 400px;
        height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-left: -41px;
    }

    .architecture {
        background-position-y: 14px;
    }
    .architecture .col-lg-3 {
        height: 0px;
    }
    .architecture h4 {
        text-align: center;
        margin-left: 75px;
        padding-bottom: 20px;
    }

    .architecture p {
        text-align: center;
        margin-left: 83px;
        padding-bottom: 32px;
    }

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    .quote h3 {
        margin-left: 50px;
        display: inline-block;
        white-space: normal;
        padding-top: 45px;
        color: white;
        text-indent: 14px;
    }

    .indexDesc p {
        text-indent: 0;
        padding-top: 23px;
    }

    .indexIndustries ul {
        font-size: 20px;
        font-weight: 700;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 28px;
    }

    .indexIndustries .col-lg-4 ul {
        margin-left: 0;
    }

    .indexIndustries img {
        width: 400px;
        height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-left: -41px;
    }

    .architecture {
        background-position-y: 14px;
    }
    .architecture .col-lg-3 {
        height: 0px;
    }
    .architecture h4 {
        text-align: center;
        margin-left: 75px;
        padding-bottom: 20px;
    }

    .architecture p {
        text-align: center;
        margin-left: 83px;
        padding-bottom: 32px;
    }

}

/* Portrait */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .quote h3 {
        margin-left: 50px;
        display: inline-block;
        white-space: normal;
        padding-top: 45px;
        color: white;
        text-indent: 14px;
    }

    .indexDesc p {
        text-indent: 0;
        padding-top: 23px;
    }

    .indexIndustries ul {
        font-size: 20px;
        font-weight: 700;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 28px;
    }

    .indexIndustries .col-lg-4 ul {
        margin-left: 0;
    }

    .indexIndustries img {
        width: 400px;
        height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-left: -41px;
    }

    .architecture {
        background-position-y: 14px;
    }
    .architecture .col-lg-3 {
        height: 0px;
    }
    .architecture h4 {
        text-align: center;
        margin-left: 75px;
        padding-bottom: 20px;
    }

    .architecture p {
        text-align: center;
        margin-left: 83px;
        padding-bottom: 32px;
    }
}

/* Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .quote h3 {
        margin-left: 50px;
        display: inline-block;
        white-space: normal;
        padding-top: 45px;
        color: white;
        text-indent: 14px;
    }

    .indexDesc p {
        text-indent: 0;
        padding-top: 23px;
    }

    .indexIndustries ul {
        font-size: 20px;
        font-weight: 700;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 28px;
    }

    .indexIndustries .col-lg-4 ul {
        margin-left: 0;
    }

    .indexIndustries img {
        width: 400px;
        height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-left: -41px;
    }

    .architecture {
        background-position-y: 14px;
    }
    .architecture .col-lg-3 {
        height: 0px;
    }
    .architecture h4 {
        text-align: center;
        margin-left: 75px;
        padding-bottom: 20px;
    }

    .architecture p {
        text-align: center;
        margin-left: 83px;
        padding-bottom: 32px;
    }

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
    .quote h3 {
        margin-left: 50px;
        display: inline-block;
        white-space: normal;
        padding-top: 45px;
        color: white;
        text-indent: 14px;
    }

    .indexDesc p {
        text-indent: 0;
        padding-top: 23px;
    }

    .indexIndustries ul {
        font-size: 20px;
        font-weight: 700;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 28px;
    }

    .indexIndustries .col-lg-4 ul {
        margin-left: 0;
    }

    .indexIndustries img {
        width: 400px;
        height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-left: -41px;
    }

    .architecture {
        background-position-y: 14px;
    }
    .architecture .col-lg-3 {
        height: 0px;
    }
    .architecture h4 {
        text-align: center;
        margin-left: 75px;
        padding-bottom: 20px;
    }

    .architecture p {
        text-align: center;
        margin-left: 83px;
        padding-bottom: 32px;
    }

}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 
    .quote h3 {
        margin-left: 50px;
        display: inline-block;
        white-space: normal;
        padding-top: 45px;
        color: white;
        text-indent: 14px;
    }

    .indexDesc p {
        text-indent: 0;
        padding-top: 23px;
    }

    .indexIndustries ul {
        font-size: 20px;
        font-weight: 700;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 28px;
    }

    .indexIndustries .col-lg-4 ul {
        margin-left: 0;
    }

    .indexIndustries img {
        width: 400px;
        height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-left: -41px;
    }

    .architecture {
        background-position-y: 14px;
    }
    .architecture .col-lg-3 {
        height: 0px;
    }
    .architecture h4 {
        text-align: center;
        margin-left: 75px;
        padding-bottom: 20px;
    }

    .architecture p {
        text-align: center;
        margin-left: 83px;
        padding-bottom: 32px;
    }

}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 
    .quote h3 {
        margin-left: 50px;
        display: inline-block;
        white-space: normal;
        padding-top: 45px;
        color: white;
        text-indent: 14px;
    }

    .indexDesc p {
        text-indent: 0;
        padding-top: 23px;
    }

    .indexIndustries ul {
        font-size: 20px;
        font-weight: 700;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 28px;
    }

    .indexIndustries .col-lg-4 ul {
        margin-left: 0;
    }

    .indexIndustries img {
        width: 400px;
        height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-left: -41px;
    }

    .architecture {
        background-position-y: 14px;
    }
    .architecture .col-lg-3 {
        height: 0px;
    }
    .architecture h4 {
        text-align: center;
        margin-left: 75px;
        padding-bottom: 20px;
    }

    .architecture p {
        text-align: center;
        margin-left: 83px;
        padding-bottom: 32px;
    }

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3) { 
    .quote h3 {
        margin-left: 50px;
        display: inline-block;
        white-space: normal;
        padding-top: 45px;
        color: white;
        text-indent: 14px;
    }

    .indexDesc p {
        text-indent: 0;
        padding-top: 23px;
    }

    .indexIndustries ul {
        font-size: 20px;
        font-weight: 700;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 28px;
    }

    .indexIndustries .col-lg-4 ul {
        margin-left: 0;
    }

    .indexIndustries img {
        width: 400px;
        height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-left: -41px;
    }

    .architecture {
        background-position-y: 14px;
    }
    .architecture .col-lg-3 {
        height: 0px;
    }
    .architecture h4 {
        text-align: center;
        margin-left: 75px;
        padding-bottom: 20px;
    }

    .architecture p {
        text-align: center;
        margin-left: 83px;
        padding-bottom: 32px;
    }

}

/* Portrait */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 
    .quote h3 {
        margin-left: 50px;
        display: inline-block;
        white-space: normal;
        padding-top: 45px;
        color: white;
        text-indent: 14px;
    }

    .indexDesc p {
        text-indent: 0;
        padding-top: 23px;
    }

    .indexIndustries ul {
        font-size: 20px;
        font-weight: 700;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 28px;
    }

    .indexIndustries .col-lg-4 ul {
        margin-left: 0;
    }

    .indexIndustries img {
        width: 400px;
        height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-left: -41px;
    }

    .architecture {
        background-position-y: 14px;
    }
    .architecture .col-lg-3 {
        height: 0px;
    }
    .architecture h4 {
        text-align: center;
        margin-left: 75px;
        padding-bottom: 20px;
    }

    .architecture p {
        text-align: center;
        margin-left: 83px;
        padding-bottom: 32px;
    }

}

/* Landscape */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 
    .quote h3 {
        margin-left: 50px;
        display: inline-block;
        white-space: normal;
        padding-top: 45px;
        color: white;
        text-indent: 14px;
    }

    .indexDesc p {
        text-indent: 0;
        padding-top: 23px;
    }

    .indexIndustries ul {
        font-size: 20px;
        font-weight: 700;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 28px;
    }

    .indexIndustries .col-lg-4 ul {
        margin-left: 0;
    }

    .indexIndustries img {
        width: 400px;
        height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-left: -41px;
    }

    .architecture {
        background-position-y: 14px;
    }
    .architecture .col-lg-3 {
        height: 0px;
    }
    .architecture h4 {
        text-align: center;
        margin-left: 75px;
        padding-bottom: 20px;
    }

    .architecture p {
        text-align: center;
        margin-left: 83px;
        padding-bottom: 32px;
    }

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) { 
    .quote h3 {
        margin-left: 50px;
        display: inline-block;
        white-space: normal;
        padding-top: 45px;
        color: white;
        text-indent: 14px;
    }

    .indexDesc p {
        text-indent: 0;
        padding-top: 23px;
    }

    .indexIndustries ul {
        font-size: 20px;
        font-weight: 700;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 28px;
    }

    .indexIndustries .col-lg-4 ul {
        margin-left: 0;
    }

    .indexIndustries img {
        width: 400px;
        height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-left: -41px;
    }

    .architecture {
        background-position-y: 14px;
    }
    .architecture .col-lg-3 {
        height: 0px;
    }
    .architecture h4 {
        text-align: center;
        margin-left: 75px;
        padding-bottom: 20px;
    }

    .architecture p {
        text-align: center;
        margin-left: 83px;
        padding-bottom: 32px;
    }

}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 
    .quote h3 {
        margin-left: 50px;
        display: inline-block;
        white-space: normal;
        padding-top: 45px;
        color: white;
        text-indent: 14px;
    }

    .indexDesc p {
        text-indent: 0;
        padding-top: 23px;
    }

    .indexIndustries ul {
        font-size: 20px;
        font-weight: 700;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 28px;
    }

    .indexIndustries .col-lg-4 ul {
        margin-left: 0;
    }

    .indexIndustries img {
        width: 400px;
        height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-left: -41px;
    }

    .architecture {
        background-position-y: 14px;
    }
    .architecture .col-lg-3 {
        height: 0px;
    }
    .architecture h4 {
        text-align: center;
        margin-left: 75px;
        padding-bottom: 20px;
    }

    .architecture p {
        text-align: center;
        margin-left: 83px;
        padding-bottom: 32px;
    }

}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 
    .quote h3 {
        margin-left: 50px;
        display: inline-block;
        white-space: normal;
        padding-top: 45px;
        color: white;
        text-indent: 14px;
    }

    .indexDesc p {
        text-indent: 0;
        padding-top: 23px;
    }

    .indexIndustries ul {
        font-size: 20px;
        font-weight: 700;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 28px;
    }

    .indexIndustries .col-lg-4 ul {
        margin-left: 0;
    }

    .indexIndustries img {
        width: 400px;
        height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-left: -41px;
    }

    .architecture {
        background-position-y: 14px;
    }
    .architecture .col-lg-3 {
        height: 0px;
    }
    .architecture h4 {
        text-align: center;
        margin-left: 75px;
        padding-bottom: 20px;
    }

    .architecture p {
        text-align: center;
        margin-left: 83px;
        padding-bottom: 32px;
    }

}