.services {
    padding-top: 100px;
}
.services p {
    font-size: 15px;
    color: rgb(168, 168, 168);
}

.services .col-lg-6 a {
    color: rgb(139, 0, 0);
    line-height: 5;
}
.services .col-lg-6 h3:nth-of-type(2) {
    padding-top: 20px;
}
.services .col-lg-6 p:nth-of-type(6) {
    padding-bottom: 50px;
}

.services a:hover {
    text-decoration: none;
 
}
.services hr {
    width: 17%;
    text-align:left;
    margin-left:0
}

.services .col-lg-12 hr {
    width: 4%;
}

.services ul {
    font-size: 15px;
    line-height: 2;
    color: rgb(168, 168, 168);
}
.services ul:nth-child(1) {
    list-style: none;
    border-right: 1px solid rgb(139, 0, 0);
    margin-left: -80px;
}

.services li {
    font-size: 15px;
    line-height: 2;
    color: rgb(168, 168, 168);
}

.services li a {
    color: rgb(168, 168, 168);
}

.services li a:hover {
    text-decoration: none;
    color: rgb(139, 0, 0);
}


