

body {
    font-family: 'Metrophobic', sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}



hr {
    border: solid .3px rgb(139, 0, 0);
}

p {
    font-size: 15px;
    line-height: 2;
    color: rgb(118, 119, 122);
}

ul {
    font-size: 15px;
    line-height: 2;
    color: rgb(118, 119, 122);
}

li {
    font-size: 15px;
    line-height: 2;
    color: rgb(118, 119, 122);
}

li a {
    color: rgb(118, 119, 122);
}

li a:hover {
    text-decoration: none;
    color: rgb(139, 0, 0);
}



.jumbo img {
    width: 400px;
}

.jumbo h3 {
    white-space: nowrap;
    margin-left: 24px;
    margin-bottom: 19px;
}

.jumbo h4 {
    white-space: nowrap;
    font-size: 22px;
}

.jumbo ul {
    padding-left: 0;
}


.jumbo a   {
    list-style: none;
    display: inline;
    margin-right: 10px;
    font-size: 22px;
    color: rgb(46, 53, 60);
}

.jumbo a:hover   {
    text-decoration: none;
    color: rgb(139, 0, 0);
}


.jumboInner {
    margin-top: 100px;
}
.jumboInner h4 {
    margin-left: 5px;
}
.jumboInner img {
    width: 384px;
}
.jumboInner ul {
    margin-left: 7px;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.navbar {
    border-radius: 0px;
}

 .navbar-inverse {
    background-color: rgb(46, 53, 60);
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: rgb(46, 53, 60);
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: rgb(139, 0, 0);
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: rgb(139, 0, 0);
    background-color: rgb(46, 53, 60);
}

.dropdown-menu {
    background-color: rgb(46, 53, 60);
}
.dropdown-menu li a {
    color: #9d9d9d;
}
.dropdown-menu li:hover a {
    color: rgb(139, 0, 0);
    background-color: rgb(46, 53, 60);
}

.navbar-nav {
    margin-left: 500px;
}


.footer {
    background-color: rgb(46, 53, 60);
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer h4 {
    color: white;
}

.footer ul {
    padding-left: 0;
}

.footer a {
    color: rgb(118, 119, 122);
    text-decoration: none;
}

.footer a:hover {
    color: rgb(139, 0, 0);
    text-decoration: none;
}

.footer ul a {
    color: white;
    font-size: 19px;
    list-style: none;
    display: inline;
    margin-right: 10px;
}

.footer a:hover {
text-decoration: none;
color: rgb(139, 0, 0);
}

.footer hr {
    text-align: center;
    border: solid .5px white;
    width: 70%;
    margin-left: 2px;
}





@media screen and (min-width: 768px){
    .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
          display: block;
      }
      .dropdown-menu{
          margin-top: 0;
      }
      .dropdown-toggle{
          margin-bottom: 2px;
      }
      .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
          margin-bottom: 0;
      }
  }

  @media (min-width: 992px) {
    .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
    100% {
      transform:translateY(0rem);
      opacity: 1;
    }
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }


  /* mobile */

  @media only screen and (max-device-width: 375px) {
    .jumbo h3 {
        white-space: normal;
        margin-left: 12px;
    }
    .jumbo h4 {
        margin-left: 13px;
    }
    .jumbo img {
        padding-right: 44px;
    }
    .jumboInner {
        margin-top: 0;
    }
    .jumboInner img {
        margin-left: 5px;
    }
    .navbar-nav {
        margin-left: 0px;
    }
  }

  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .jumbo h3 {
        white-space: normal;
        margin-left: 98px;
    }
    .jumbo h4 {
        margin-left: 211px;
    }
    .jumbo img {
        padding-right: 0;
        margin-left: 167px;
    }
    .jumboInner {
        margin-top: 0;
    }
    .jumboInner img {
        margin-left: 161px;
    }
    
    .navbar-nav {
        margin-left: 118px;
    }
  }



  /* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    .jumbo h3 {
        white-space: normal;
        margin-left: 12px;
    }
    .jumbo h4 {
        margin-left: 13px;
    }
    .jumbo img {
        padding-right: 44px;
    }
    .jumboInner {
        margin-top: 0;
    }
    .jumboInner img {
        margin-left: 5px;
    }
    .navbar-nav {
        margin-left: 0px;
    }

}

/* Portrait */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .jumbo h3 {
        white-space: normal;
        margin-left: 12px;
    }
    .jumbo h4 {
        margin-left: 13px;
    }
    .jumbo img {
        padding-right: 44px;
    }
    .jumboInner {
        margin-top: 0;
    }
    .jumboInner img {
        margin-left: 5px;
    }
    .navbar-nav {
        margin-left: 0px;
    }
}

/* Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .jumbo h3 {
        white-space: normal;
        margin-left: 12px;
    }
    .jumbo h4 {
        margin-left: 13px;
    }
    .jumbo img {
        padding-right: 44px;
    }
    .jumboInner {
        margin-top: 0;
    }
    .jumboInner img {
        margin-left: 5px;
    }
    .navbar-nav {
        margin-left: 0px;
    }

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    .jumbo h3 {
        white-space: normal;
        margin-left: 12px;
    }
    .jumbo h4 {
        margin-left: 13px;
    }
    .jumbo img {
        padding-right: 44px;
    }
    .jumboInner {
        margin-top: 0;
    }
    .jumboInner img {
        margin-left: 5px;
    }
    .navbar-nav {
        margin-left: 0px;
    }

}

/* Portrait */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .jumbo h3 {
        white-space: normal;
        margin-left: 12px;
    }
    .jumbo h4 {
        margin-left: 13px;
    }
    .jumbo img {
        padding-right: 44px;
    }
    .jumboInner {
        margin-top: 0;
    }
    .jumboInner img {
        margin-left: 5px;
    }
    .navbar-nav {
        margin-left: 0px;
    }
}

/* Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .jumbo h3 {
        white-space: normal;
        margin-left: 12px;
    }
    .jumbo h4 {
        margin-left: 13px;
    }
    .jumbo img {
        padding-right: 44px;
    }
    .jumboInner {
        margin-top: 0;
    }
    .jumboInner img {
        margin-left: 5px;
    }
    .navbar-nav {
        margin-left: 0px;
    }

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
    .jumbo h3 {
        white-space: normal;
        margin-left: 12px;
    }
    .jumbo h4 {
        margin-left: 13px;
    }
    .jumbo img {
        padding-right: 44px;
    }
    .jumboInner {
        margin-top: 0;
    }
    .jumboInner img {
        margin-left: 5px;
    }
    .navbar-nav {
        margin-left: 0px;
    }

}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 
    .jumbo h3 {
        white-space: normal;
        margin-left: 12px;
    }
    .jumbo h4 {
        margin-left: 13px;
    }
    .jumbo img {
        padding-right: 44px;
    }
    .jumboInner {
        margin-top: 0;
    }
    .jumboInner img {
        margin-left: 5px;
    }
    .navbar-nav {
        margin-left: 0px;
    }

}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 
    .jumbo h3 {
        white-space: normal;
        margin-left: 12px;
    }
    .jumbo h4 {
        margin-left: 13px;
    }
    .jumbo img {
        padding-right: 44px;
    }
    .jumboInner {
        margin-top: 0;
    }
    .jumboInner img {
        margin-left: 5px;
    }
    .navbar-nav {
        margin-left: 0px;
    }

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3) { 
    .jumbo h3 {
        white-space: normal;
        margin-left: 12px;
    }
    .jumbo h4 {
        margin-left: 13px;
    }
    .jumbo img {
        padding-right: 44px;
    }
    .jumboInner {
        margin-top: 0;
    }
    .jumboInner img {
        margin-left: 5px;
    }
    .navbar-nav {
        margin-left: 0px;
    }
}

/* Portrait */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 
    .jumbo h3 {
        white-space: normal;
        margin-left: 12px;
    }
    .jumbo h4 {
        margin-left: 13px;
    }
    .jumbo img {
        padding-right: 44px;
    }
    .jumboInner {
        margin-top: 0;
    }
    .jumboInner img {
        margin-left: 5px;
    }
    .navbar-nav {
        margin-left: 0px;
    }

}

/* Landscape */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 
    .jumbo h3 {
        white-space: normal;
        margin-left: 12px;
    }
    .jumbo h4 {
        margin-left: 13px;
    }
    .jumbo img {
        padding-right: 44px;
    }
    .jumboInner {
        margin-top: 0;
    }
    .jumboInner img {
        margin-left: 5px;
    }
    .navbar-nav {
        margin-left: 0px;
    }

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) { 
    .jumbo h3 {
        white-space: normal;
        margin-left: 12px;
    }
    .jumbo h4 {
        margin-left: 13px;
    }
    .jumbo img {
        padding-right: 44px;
    }
    .jumboInner {
        margin-top: 0;
    }
    .jumboInner img {
        margin-left: 5px;
    }
    .navbar-nav {
        margin-left: 0px;
    }

}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 
    .jumbo h3 {
        white-space: normal;
        margin-left: 12px;
    }
    .jumbo h4 {
        margin-left: 13px;
    }
    .jumbo img {
        padding-right: 44px;
    }
    .jumboInner {
        margin-top: 0;
    }
    .jumboInner img {
        margin-left: 5px;
    }
    .navbar-nav {
        margin-left: 0px;
    }

}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 
    .jumbo h3 {
        white-space: normal;
        margin-left: 12px;
    }
    .jumbo h4 {
        margin-left: 13px;
    }
    .jumbo img {
        padding-right: 44px;
    }
    .jumboInner {
        margin-top: 0;
    }
    .jumboInner img {
        margin-left: 5px;
    }
    .navbar-nav {
        margin-left: 0px;
    }

}